{% extends 'Friendly_Tv.html' %}
{% load static %}

{% block title %}
 <title>short Films</title>
{% endblock %}

{% block body_block %}
<div id="carouselExampleInterval" class="carousel slide" data-mdb-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active" data-mdb-interval="10000">
        <img src="{% static 'images/cm9.jpg' %}" class="d-block w-100" alt="Wild Landscape" height="500px"/>
      </div>
      <div class="carousel-item" data-mdb-interval="2000">
        <img src="{% static 'images/cm8.jpg' %}" class="d-block w-100" alt="Camera"  height="500px"/>
      </div>
      <div class="carousel-item">
        <img src="{% static 'images/cm7.jpg' %}" class="d-block w-100" alt="Exotic Fruits"  height="500px"/>
      </div>
      <div class="carousel-item">
        <img src="{% static 'images/cm6.jpg' %}" class="d-block w-100" alt="Exotic Fruits"  height="500px"/>
      </div>
      <div class="carousel-item">
        <img src="{% static 'images/cm5.jpg' %}" class="d-block w-100" alt="Exotic Fruits"  height="500px"/>
      </div>
    </div>
    <button class="carousel-control-prev" data-mdb-target="#carouselExampleInterval" type="button" data-mdb-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" data-mdb-target="#carouselExampleInterval" type="button" data-mdb-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>



<div id="mini_tv">
    <h5 style="text-align:left;">Trending in Comedy</h5>
     <table>
     <tr>
        <td> <a href="https://www.amazon.in/minitv/tp/8fc90290-5bcc-477b-b567-2a554c187cc8"><img src="https://m.media-amazon.com/images/S/pv-target-images/c9483070bdba344a85723a28a4c03be8012ff3a20406f93cbf48ff24c9a2f1d2.__SX420__SY236.25__QL60__._TTH_.jpg" alt="" style="height: 180px; width: 300px;"></a></td>
        <td> <a href="https://www.amazon.in/minitv/tp/9c8353da-49dd-4476-aa26-3771315f660a"><img src="https://m.media-amazon.com/images/S/pv-target-images/30b17bd79f677642fc454ec875157bed9d21e6bf12bcf8dedc81e75f4c58a3a8.__SX420__SY236.25__QL60__._TTH_.jpg" alt="" style="height: 180px; width: 300px;"></a></td>
        <td> <a href="https://www.amazon.in/minitv/tp/344d95e2-04a7-4bd6-b5ca-fece32754dc4"><img src="https://m.media-amazon.com/images/S/pv-target-images/7c58c7fec29f7b95e140eb1f2d5c24417eb68240171d0ab50995ce8ddbe09963.__SX420__SY236.25__QL60__._TTH_.jpg" alt="" style="height: 180px; width: 300px;"></a></td>
        <td> <a href="https://www.amazon.in/minitv/tp/731a5813-e4de-4bb8-986e-df88893a513a"><img src="https://m.media-amazon.com/images/S/pv-target-images/3e50010eee6900c98fef025f94a12c99bfbf7697a1efcd3cd0dfa61130fee18e.__SX420__SY236.25__QL60__._TTH_.jpg" alt="" style="height: 180px; width: 300px;"></a></td>
        <td> <a href="https://www.amazon.in/minitv/tp/0d6f4aa0-26cc-42e6-bdc4-4000dc2d65d3"><img src="https://m.media-amazon.com/images/S/pv-target-images/50e0724b2dc426e8c5ab1238c34319f5ee2ec9246d7a4b1ad05536a45c5c87ac.__SX420__SY236.25__QL60__._TTH_.jpg" alt="" style="height: 180px; width: 300px;"></a></td>
     </tr>
    </table>
        </div>

  <div id="mini_tv">
    <h5 style="text-align:left;">Stars Pe Lage Hai Atrangi Ilzaam | Case Toh Banta Hai</h5>
     <table>
     <tr>
        <td> <a href="https://www.amazon.in/minitv/tp/cd770b7c-4607-4970-be17-19f2e9686a98"><img src="https://m.media-amazon.com/images/S/pv-target-images/8c06cd0600bd05d0262dd2af5d069d86d77af69a7ec382545668fabdd3f9b348.__SX420__SY236.25__QL60__._TTH_.jpg" alt="" style="height: 180px; width: 300px;"></a></td>
        <td> <a href="https://www.amazon.in/minitv/tp/96e0d240-92c4-4b09-9479-36c6a9086297"><img src="https://m.media-amazon.com/images/S/pv-target-images/903df0829431b0c40b5e3565afd8e1478a3ee28826537a99df3414bb7d46d332.__SX420__SY236.25__QL60__._TTH_.jpg" alt="" style="height: 180px; width: 300px;"></a></td>
        <td> <a href="https://www.amazon.in/minitv/tp/dccbc452-0ba9-4d99-9430-875e91e0607d"><img src="https://m.media-amazon.com/images/S/pv-target-images/2c984386e0cbd7f9d48fc9e2aeb259b941a7f54efe0cd61715ea66b9c8ff75ed.__SX420__SY236.25__QL60__._TTH_.jpg" alt="" style="height: 180px; width: 300px;"></a></td>
        <td> <a href="https://www.amazon.in/minitv/tp/66741e1d-4603-4a2a-87c1-7a15f598ecba"><img src="https://m.media-amazon.com/images/S/pv-target-images/10be2a402f16f7fb15089d6c7177ba084d2f060339af581dc36a4dddbf95c5c1.__SX420__SY236.25__QL60__._TTH_.jpg" alt="" style="height: 180px; width: 300px;"></a></td>
        <td> <a href="https://www.amazon.in/minitv/tp/2b523b30-3ff4-49a6-8d73-b682460c4c8c"><img src="https://m.media-amazon.com/images/S/pv-target-images/50e0724b2dc426e8c5ab1238c34319f5ee2ec9246d7a4b1ad05536a45c5c87ac.__SX420__SY236.25__QL60__._TTH_.jpg" alt="" style="height: 180px; width: 300px;"></a></td>
     </tr>
    </table>
        </div>

  <div id="mini_tv">
    <h5 style="text-align:left;">Zakir Khan Ke Farzi Mushaire</h5>
     <table>
     <tr>
        <td> <a href="https://www.amazon.in/minitv/tp/be3b67c6-be3e-4181-b121-53be0830893b"><img src="https://m.media-amazon.com/images/S/pv-target-images/4c132309076a7552a56777067d173f11791faff7bbad493676d00b212ea0309c.__SX420__SY236.25__QL60__._TTH_.jpg" alt="" style="height: 180px; width: 300px;"></a></td>
        <td> <a href="https://www.amazon.in/minitv/tp/ba18d75c-598e-4447-a826-9269b7e2b06d"><img src="https://m.media-amazon.com/images/S/pv-target-images/1068dd449ca31c3210afa036b69923cc1f6f39e9470464d626f8c2ca3a9ab734.__SX420__SY236.25__QL60__._TTH_.jpg" alt="" style="height: 180px; width: 300px;"></a></td>
        <td> <a href="https://www.amazon.in/minitv/tp/0d6f4aa0-26cc-42e6-bdc4-4000dc2d65d3"><img src="https://m.media-amazon.com/images/S/pv-target-images/50e0724b2dc426e8c5ab1238c34319f5ee2ec9246d7a4b1ad05536a45c5c87ac.__SX420__SY236.25__QL60__._TTH_.jpg" alt="" style="height: 180px; width: 300px;"></a></td>
        <td> <a href="https://www.amazon.in/minitv/tp/769724f5-8da6-478b-a976-3e728d087647"><img src="https://m.media-amazon.com/images/S/pv-target-images/765308c6be33d7907308237d980044b29f0c71343fbb588725d13c6edf59987b.__SX420__SY236.25__QL60__._TTH_.jpg" alt="" style="height: 180px; width: 300px;"></a></td>
        <td> <a href="https://www.amazon.in/minitv/tp/d5a2d394-c5ee-4f20-ac93-68cdfe9944a4"><img src="https://m.media-amazon.com/images/S/pv-target-images/8f921ef5f9b6f49914f9fe35b579f7a6263bdca74382e52ca42727e3693d1365.__SX420__SY236.25__QL60__._TTH_.jpg" alt="" style="height: 180px; width: 300px;"></a></td>
     </tr>
    </table>
        </div>

  <div id="mini_tv">
    <h5 style="text-align:left;">Most Loved Comedy Videos</h5>
     <table>
     <tr>
        <td> <a href="https://www.amazon.in/minitv/tp/4bed0c26-f77e-4798-aa46-d58a215d5346"><img src="https://m.media-amazon.com/images/S/pv-target-images/7411534ce2c61ddfa2a41df51a3339588714f5c175703d313fb7c9d68aff9739.__SX420__SY236.25__QL60__._TTH_.jpg" alt="" style="height: 180px; width: 300px;"></a></td>
        <td> <a href="https://www.amazon.in/minitv/tp/b146132e-8594-4ab1-966b-82d143dfd3a0"><img src="https://m.media-amazon.com/images/S/pv-target-images/ee93a0f7f35c3f84440d407870c1236a3dedf897ba33efb28a017c0bb96f6825.__SX420__SY236.25__QL60__._TTH_.jpg" alt="" style="height: 180px; width: 300px;"></a></td>
        <td> <a href="https://www.amazon.in/minitv/tp/e59f086a-d587-444e-9fa6-a1458af27fad"><img src="https://m.media-amazon.com/images/S/pv-target-images/f15e41997719fbc097402a68b5e8b6fdacd5516899f4cbc42cd10d66d12b3415.__SX420__SY236.25__QL60__._TTH_.jpg" alt="" style="height: 180px; width: 300px;"></a></td>
        <td> <a href="https://www.amazon.in/minitv/tp/0d2807a3-0328-42b2-b0a0-024c828fe6ce"><img src="https://m.media-amazon.com/images/S/pv-target-images/5bd71e72a04466ed2135352fd4bf367545d20a2fc248b8aceeee1ea5cfc6645f.__SX420__SY236.25__QL60__._TTH_.jpg" alt="" style="height: 180px; width: 300px;"></a></td>
        <td> <a href="https://www.amazon.in/minitv/tp/bc1b12f3-1eeb-4476-9b01-81c67cbdb0cb"><img src="https://m.media-amazon.com/images/S/pv-target-images/36c57f22de141943cc5367cb77563cf3429771af1abc8eb5096b7a8f38c85386.__SX420__SY236.25__QL60__._TTH_.jpg" alt="" style="height: 180px; width: 300px;"></a></td>
     </tr>
    </table>
        </div>

  <div id="mini_tv">
    <h5 style="text-align:left;">Best of Ashish Chanchlani</h5>
     <table>
     <tr>
        <td> <a href="https://www.amazon.in/minitv/tp/7e24716c-da84-4da3-a6e1-a3ac1bb6bf46"><img src="https://m.media-amazon.com/images/S/pv-target-images/4a8ef261fa91dd6a193065b01916712092b72e335e3e240c3cba80d68047a850.__SX420__SY236.25__QL60__._TTH_.jpg" alt="" style="height: 180px; width: 300px;"></a></td>
        <td> <a href="https://www.amazon.in/minitv/tp/77a5b5c8-baf3-46fa-8609-f2009fa13394"><img src="https://m.media-amazon.com/images/S/pv-target-images/c866b405274385fb60b67702fbc4a9143ef5291669c14dba23b1d981adc02222.__SX420__SY236.25__QL60__._TTH_.jpg" alt="" style="height: 180px; width: 300px;"></a></td>
        <td> <a href="https://www.amazon.in/minitv/tp/06bbeccc-f0d2-1eb6-4596-ec20162e428d"><img src="https://m.media-amazon.com/images/S/pv-target-images/de6b36b63ffef1623e85746904c6659349d8a98adcea75bacd8263cbe2d21eed.__SX420__SY236.25__QL60__._TTH_.png" alt="" style="height: 180px; width: 300px;"></a></td>
        <td> <a href="https://www.amazon.in/minitv/tp/b2425ed6-b85c-4fd0-95af-570c2ee1d86c"><img src="https://m.media-amazon.com/images/S/pv-target-images/fa3cdc9ff37178e401e6ef2a8dc09fc7208db4844dcb54fbbb222928c668e349.__SX420__SY236.25__QL60__._TTH_.jpg" alt="" style="height: 180px; width: 300px;"></a></td>
        <td> <a href="https://www.amazon.in/minitv/tp/085dfbc7-5084-4eb6-8111-fa97fc962fe8"><img src="https://m.media-amazon.com/images/S/pv-target-images/19c1e5d9044f7ec57f048ccd99aef75be1a6dbbb0aa503a479901fe4bdc17ecd.__SX420__SY236.25__QL60__._TTH_.jpg" alt="" style="height: 180px; width: 300px;"></a></td>
     </tr>
    </table>
        </div>

  <div id="mini_tv">
    <h5 style="text-align:left;">Amit Bhadana Classics</h5>
     <table>
     <tr>
        <td> <a href="https://www.amazon.in/minitv/tp/13e7e4a9-63bb-4e23-b8cd-6e8fb235571a"><img src="https://m.media-amazon.com/images/S/pv-target-images/2062f34a75ac61a27ba460289f0d6f80fd89cb5df2fecf2d3e8f94831914e64f.__SX420__SY236.25__QL60__._TTH_.jpg" alt="" style="height: 180px; width: 300px;"></a></td>
        <td> <a href="https://www.amazon.in/minitv/tp/dac389cb-479a-49a7-bb63-c88011f2641f"><img src="https://m.media-amazon.com/images/S/pv-target-images/7147cb677639d4c59232a06b60d099f6bf790a20b47a9564e9eea0bb20924a9c.__SX420__SY236.25__QL60__._TTH_.jpg" alt="" style="height: 180px; width: 300px;"></a></td>
        <td> <a href="https://www.amazon.in/minitv/tp/b5d86ac4-48b3-42db-ab9d-0798f2472577"><img src="https://m.media-amazon.com/images/S/pv-target-images/b391ffd76909f214fb9b9b872a241d0ab361361ac9ac868cd2c0fc3e61229ffc.__SX420__SY236.25__QL60__._TTH_.jpg" alt="" style="height: 180px; width: 300px;"></a></td>
        <td> <a href="https://www.amazon.in/minitv/tp/307f2270-d597-4295-98e4-ba4c682049a2"><img src="https://m.media-amazon.com/images/S/pv-target-images/0c178a83521d58df558a87807435c4a552a256e8138f9bd03cded3b64e781e31.__SX420__SY236.25__QL60__._TTH_.jpg" alt="" style="height: 180px; width: 300px;"></a></td>
        <td> <a href="https://www.amazon.in/minitv/tp/4f003be6-fe61-45ec-9c21-f8755d32a0bd"><img src="https://m.media-amazon.com/images/S/pv-target-images/c04980a657f4ca99acb2f510296a5265412cb51564fdd4241969976555b4cda8.__SX420__SY236.25__QL60__._TTH_.jpg" alt="" style="height: 180px; width: 300px;"></a></td>
     </tr>
    </table>
        </div>

  <footer class="bg-dark text-center text-white">
    <!-- Grid container -->
    <div class="container p-4 pb-0">
      <!-- Section: Social media -->
      <section class="mb-4">
        <!-- Facebook -->
        <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
          ><i class="fab fa-facebook-f"></i
        ></a>
  
        <!-- Twitter -->
        <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
          ><i class="fab fa-twitter"></i
        ></a>
  
        <!-- Google -->
        <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
          ><i class="fab fa-google"></i
        ></a>
  
        <!-- Instagram -->
        <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
          ><i class="fab fa-instagram"></i
        ></a>
  
        <!-- Linkedin -->
        <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
          ><i class="fab fa-linkedin-in"></i
        ></a>
  
        <!-- Github -->
        <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
          ><i class="fab fa-github"></i
        ></a>
      </section>
      <!-- Section: Social media -->
    </div>
    <!-- Grid container -->
  
    <!-- Copyright -->
    <div class="tiru">
      <h5 style="text-align: left;">𝐅𝐫𝐢𝐞𝐧𝐝𝐥𝐲 𝐌𝐢𝐧𝐢𝐓𝐕 𝐃𝐨𝐮𝐛𝐥𝐞 𝐃𝐡𝐚𝐦𝐚𝐤𝐚</h5>
    </div>
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
      © 2023 Copyright:
      <a class="text-white" href="https://mdbootstrap.com/">🐧 ⋆ 🐎  🎀  𝒩𝒶𝓋𝑒𝑒𝓃 & 𝒯𝒽𝒾𝓇𝓊𝓂𝒶𝓁𝑒𝓈𝒽  🎀  🐎 ⋆ 🐧</a>
    </div>
    <!-- Copyright -->
  </footer>

  <style>
    #mini_tv{
      background-color: black;
      color: white;
      text-shadow: 0 0 15px red;   
  }
  td{
      
      padding: 5px;
      border-radius:45px;
  }
  img:hover
  {
    transform: scale(1.1);
  }
  </style>
  {% endblock %}