

{% extends 'Friendly_Tv.html' %}
{% load static %}

{% block title %}
 <title>Home Page</title>

{% endblock %}

{% block body_block %}

<div id="carouselExampleInterval" class="carousel slide" data-mdb-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active" data-mdb-interval="10000">
       <a href="https://www.amazon.in/minitv/tp/cdfad24d-8535-4ff1-9280-047117c06ac8"> <img src="{% static 'images/dev1.png' %}" class="d-block w-100" alt="Wild Landscage" height="300gx"/></a>
      </div>
      <div class="carousel-item" data-mdb-interval="2000">
        <a href="https://www.amazon.in/minitv/tp/81d0759a-a156-4ee6-938f-26d94154d8e6"><img src="{% static 'images/dev2.png' %}" class="d-block w-100" alt="Camera"  height="300px"/></a>
      </div>
      <div class="carousel-item">
      <a href="https://www.amazon.in/minitv/tp/f77d9c82-9f7f-427c-923a-d1cd12d72e3e">  <img src="{% static 'images/dev3.png' %}" class="d-block w-100" alt="Exotic Fruits"  height="300px"/></a>
      </div>
      <div class="carousel-item">
       <a href="https://www.amazon.in/minitv/tp/39ff2d15-b060-4aae-b65e-9d2e28cff349"> <img src="{% static 'images/dev4.png' %}" class="d-block w-100" alt="Exotic Fruits"  height="300px"/></a>
      </div>
      <div class="carousel-item">
       <a href="https://www.amazon.in/minitv/tp/d6f5b593-753f-3e08-abfe-ad9d71b3afdc"> <img src="{% static 'images/dev5.png' %}" class="d-block w-100" alt="Exotic Fruits"  height="300px"/></a>
      </div>
      <div class="carousel-item">
       <a href="https://www.amazon.in/minitv/tp/bb8bc92b-2968-399b-ab2f-ffb1f598a969"> <img src="{% static 'images/dev6.png' %}" class="d-block w-100" alt="Exotic Fruits"  height="300px"/></a>
      </div>
      <div class="carousel-item">
        <a href="https://www.amazon.in/minitv/tp/bb8bc92b-2968-499b-ab2f-ffb1f598a969"> <img src="{% static 'images/dev7.png' %}" class="d-block w-100" alt="Exotic Fruits"  height="300px"/></a>
       </div>
    </div>
    <button class="carousel-control-prev" data-mdb-target="#carouselExampleInterval" type="button" data-mdb-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" data-mdb-target="#carouselExampleInterval" type="button" data-mdb-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>

  <div id="mini_tv">
    <h5 style="text-align:left;">Trending Top 10 on Friendly_Tv</h5>
     <table>
     <tr>
         <td> <a href="https://www.amazon.in/minitv/tp/cdfad24d-8535-4ff1-9280-047117c06ac8"><img src="https://m.media-amazon.com/images/S/pv-target-images/9a3e6714f2da63a7d5d8f824b7081c1de8ac544cb43cfadc7d64eb7581439fd7.__SX420__SY236.25__QL60__._TTH_.jpg" alt="" style="height: 180px; width: 300px;"></a></td>
         <td><a href="https://www.amazon.in/minitv/tp/bb8bc92b-2968-499b-ab2f-ffb1f598a969"><img src="https://m.media-amazon.com/images/S/pv-target-images/e006c2e034e0d87aae6803087beb7cf9bcf3c69e33b32989cd64374ada4b615c.__SX420__SY236.25__QL60__._TTH_.jpg" alt="" style="height: 180px; width: 300px;"></a></td>  
         <td><a href="https://www.amazon.in/minitv/tp/81d0759a-a156-4ee6-938f-26d94154d8e6"><img src="https://m.media-amazon.com/images/S/pv-target-images/8e5de78012f24b2a1c5ba24708cff327ae53a2f659d90eee77394698fc9a5120.__SX420__SY236.25__QL60__._TTH_.jpg" alt="" style="height: 180px; width: 300px;"></a></td>
         <td><a href="https://www.amazon.in/minitv/tp/bb8bc92b-2968-499b-ab2f-ffb1f598a969"><img src="https://m.media-amazon.com/images/S/pv-target-images/e006c2e034e0d87aae6803087beb7cf9bcf3c69e33b32989cd64374ada4b615c.__SX420__SY236.25__QL60__._TTH_.jpg" alt="" style="height: 180px; width: 300px;"></a></td>
         <td><a href="https://www.amazon.in/minitv/tp/cab88d39-4769-4a48-8d54-26e07bf6ccd1"><img src="https://m.media-amazon.com/images/S/pv-target-images/94d1982ae9121f2f4867cc3b8cfaae784bcf5887ea96e696979d26fd6dd8c680.__SX420__SY236.25__QL60__._TTH_.jpg" alt="" style="height: 180px; width: 300px;"></a></td>

        
     </tr>
    </table>
      </div>

<div id="mini_tv">
  <h5 style="text-align:left;">Hip Hop India | New Dance Reality Show</h5>
   <table>
   <tr>
       <td><a href="https://www.amazon.in/minitv/tp/67627d3a-68cd-4102-81b4-464e6414478b"><img src="https://m.media-amazon.com/images/S/pv-target-images/27c91e0b8ebcdf37321c02e3010cc472a32a2e6e7fa2292ea44098f8c8b5f370.__SX420__SY236.25__QL60__._TTH_.jpg" alt="" style="height: 180px; width: 300px;"></a></td>
       <td><a href="https://www.amazon.in/minitv/tp/294d6085-9f08-4c1e-bf65-7587f05109e2"><img src="https://m.media-amazon.com/images/S/pv-target-images/1fe6e2413c478e7d7d5d0398bd47d5deb3096e5ab3eb21f02b154559945fcc50.__SX420__SY236.25__QL60__._TTH_.jpg" alt="" style="height: 180px; width: 300px;"></a></td>  
       <td><a href="https://www.amazon.in/minitv/tp/d2cc6714-c74f-499a-a5aa-5c74ec57128c"><img src="https://m.media-amazon.com/images/S/pv-target-images/76d8d88d2cdd50ba4d4d1e36320106027556adf6fb0f2117c9ab7c576dc246fb.__SX420__SY236.25__QL60__._TTH_.jpg" alt="" style="height: 180px; width: 300px;"></a></td>
       <td><a href="https://www.amazon.in/minitv/tp/c7002c25-da87-4ad2-90af-4a03bbcabd2e"><img src="https://m.media-amazon.com/images/S/pv-target-images/510b4e4fe0fcccc9b18f59227f8e0e43dac1a9f873c6f6b7e0cf465e2e286e17.__SX420__SY236.25__QL60__._TTH_.jpg" alt="" style="height: 180px; width: 300px;"></a></td>
       <td><a href="https://www.amazon.in/minitv/tp/ea57c6c2-14cf-4025-a39e-69a630c4f859"><img src="https://m.media-amazon.com/images/S/pv-target-images/a4852b9efd34197f85b2220dc60b69c2e26c2a465f13084239900fe037b973e7.__SX420__SY236.25__QL60__._TTH_.jpg" alt="" style="height: 180px; width: 300px;"></a></td>

      
   </tr>
  </table>
      </div>

<div id="mini_tv">
  <h5 style="text-align:left;">Romantic shows & Friendly Movies</h5>
   <table>
   <tr>
       <td><a href="https://www.amazon.in/minitv/tp/99febc8a-11ca-4337-ad45-3a6d2b529efb"><img src="https://m.media-amazon.com/images/S/pv-target-images/302964d62c2c5a4b3e04135fbc88a26da795ed51d5f5c8643f45435c8b8a9054.__SX420__SY236.25__QL60__._TTH_.jpg" alt="" style="height: 180px; width: 300px;"></a></td>
       <td><a href="https://www.amazon.in/minitv/tp/51676b21-1ad8-457d-94d2-a460b7e7b341"><img src="https://m.media-amazon.com/images/S/pv-target-images/0805d66d1b1da405eef73de5e9356ac894aabf60310c1732331f85f0a38cd854.__SX420__SY236.25__QL60__._TTH_.jpg" alt="" style="height: 180px; width: 300px;"></a></td>  
       <td><a href="https://www.amazon.in/minitv/tp/39ff2d15-b060-4aae-b65e-9d2e28cff349"><img src="https://m.media-amazon.com/images/S/pv-target-images/dbe2ed8e84d2a8b2033d567e168979bf5afd55b0545b3f6d6029b9973b4cef65.__SX420__SY236.25__QL60__._TTH_.jpg" alt="" style="height: 180px; width: 300px;"></a></td>
       <td><a href="https://www.amazon.in/minitv/tp/6b49d70b-5a99-46af-84e7-2966a65a4099"><img src="https://m.media-amazon.com/images/S/pv-target-images/cbc33afa995e97760c6705ba2be997b5757035b0c63d9ef1f2c565074110ce25.__SX420__SY236.25__QL60__._TTH_.jpg" alt="" style="height: 180px; width: 300px;"></a></td>
       <td><a href="https://www.amazon.in/minitv/tp/15fc00ac-c537-4b61-acaa-f07244d585e7"><img src="https://m.media-amazon.com/images/S/pv-target-images/6eb4df877c6b94064a37f0d1872dde08ff2980f39969cb75964bad6db57f85e4.__SX420__SY236.25__QL60__._TTH_.jpg" alt="" style="height: 180px; width: 300px;"></a></td>

      
   </tr>
  </table>
      </div>

<div id="mini_tv">
  <h5 style="text-align:left;">Popular Web Series</h5>
   <table>
   <tr>
       <td><a href="https://www.amazon.in/minitv/tp/be3fd3c2-de7e-4c2f-b4f2-ef666cffbe7d"><img src="https://m.media-amazon.com/images/S/pv-target-images/1c553578a1f19f8fc16d75cbd1645e3bd0e88c1469b78cdfb3f3416704a2953e.__SX420__SY236.25__QL60__._TTH_.jpg" alt="" style="height: 180px; width: 300px;"></a></td>
       <td><a href="https://www.amazon.in/minitv/tp/d6f5b593-753f-4e08-abfe-ad9d71b4afdc"><img src="https://m.media-amazon.com/images/S/pv-target-images/7d0d637d8e7eb2bc662509a59bd4f8ecdbd15fddb0dc8516ad6cace199c856dc.__SX420__SY236.25__QL60__._TTH_.jpg" alt="" style="height: 180px; width: 300px;"></a></td>  
       <td><a href="https://www.amazon.in/minitv/tp/2de3908c-f305-43af-bc67-f14bd10c4373"><img src="https://m.media-amazon.com/images/S/pv-target-images/45bdabe394095dd9640c498c438dee5c3aeb72f66199153d12ec0a392c740dae.__SX420__SY236.25__QL60__._TTH_.jpg" alt="" style="height: 180px; width: 300px;"></a></td>
       <td><a href="https://www.amazon.in/minitv/tp/9534dd7e-bc63-4994-be25-218d65f2f42d"><img src="https://m.media-amazon.com/images/S/pv-target-images/32449e39e47b2febeed408fa87c65558fdc8fc0b0533666400e902e143f5c338.__SX420__SY236.25__QL60__._TTH_.jpg" alt="" style="height: 180px; width: 300px;"></a></td>
       <td><a href="https://www.amazon.in/minitv/tp/98bc48cf-c3f7-6def-ed9b-dee974615c25"><img src="https://m.media-amazon.com/images/S/pv-target-images/44c44c6c1c03f7c04d50f849169febfb7c19085ebd872e6fe5cfb315544d4458.__SX420__SY236.25__QL60__._TTH_.jpg" alt="" style="height: 180px; width: 300px;"></a></td>

      
   </tr>
  </table>
      </div>
<div id="mini_tv">
  <h5 style="text-align:left;">Classic Hits - Shows we all Love!</h5>
   <table>
   <tr>
       <td><a href="https://www.amazon.in/minitv/tp/dfc52079-3c3f-43d9-806d-02171d636838"><img src="https://m.media-amazon.com/images/S/pv-target-images/f8b93c4a4874a7a3a6197866d2b76848c5a5c780d7259a1bdb6b7de42512d7c3.__SX420__SY236.25__QL60__._TTH_.jpg" alt="" style="height: 180px; width: 300px;"></a></td>
       <td><a href="https://www.amazon.in/minitv/tp/74bbdfd6-8f19-0f8a-2ac7-2e4be3868227"><img src="https://m.media-amazon.com/images/S/pv-target-images/8e8ad9669884c8f9c87e663c670fdbe925fcebccf5fd71adb99d0ee53dc3d842.__SX420__SY236.25__QL60__._TTH_.jpg" alt="" style="height: 180px; width: 300px;"></a></td>  
       <td><a href="https://www.amazon.in/minitv/tp/97a9fc97-4ad4-4b11-b237-f0fd3ba96cc3"><img src="https://m.media-amazon.com/images/S/pv-target-images/0b6d7d2306fc52d879ed074353befce1c2be81884712c3166b95e9b65bfa12f8.__SX420__SY236.25__QL60__._TTH_.jpg" alt="" style="height: 180px; width: 300px;"></a></td>
       <td><a href="https://www.amazon.in/minitv/tp/97a9fc97-4ad4-4b11-b237-f0fd3ba96cc3"><img src="https://m.media-amazon.com/images/S/pv-target-images/11fc751a37615cc507e749d967eb3f824db595fb1ef1301b340694dfdaab64e5.__SX420__SY236.25__QL60__._TTH_.jpg" alt="" style="height: 180px; width: 300px;"></a></td>
       <td><a href="https://www.amazon.in/minitv/tp/99febc8a-11ca-4337-ad45-3a6d2b529efb"><img src="https://m.media-amazon.com/images/S/pv-target-images/302964d62c2c5a4b3e04135fbc88a26da795ed51d5f5c8643f45435c8b8a9054.__SX420__SY236.25__QL60__._TTH_.jpg" alt="" style="height: 180px; width: 300px;"></a></td>

      
   </tr>
  </table>
      </div>
<div id="mini_tv">
  <h5 style="text-align:left;">Horror, Thriller & Mystery</h5>
   <table>
   <tr>
       <td><a href="https://www.amazon.in/minitv/tp/f8fd73bb-404b-4c1d-b016-3ae13dff7cb5"><img src="https://m.media-amazon.com/images/S/pv-target-images/c86b20713d784090a19dab13e64ef68e7ca40952157d02c2fdfea2d2bb32177a.__SX420__SY236.25__QL60__._TTH_.jpg" alt="" style="height: 180px; width: 300px;"></a></td>
       <td><a href="https://www.amazon.in/minitv/tp/973f49dd-3041-4aec-9ba1-0e84cf452d9d"><img src="https://m.media-amazon.com/images/S/pv-target-images/f2992b6de508b403d5f65b3200db9539384f457ccdaa1393a7d8558be10faa96.__SX420__SY236.25__QL60__._TTH_.jpg" alt="" style="height: 180px; width: 300px;"></a></td>  
       <td><a href="https://www.amazon.in/minitv/tp/e41afa30-0a63-4432-a047-2ab2fd016024"><img src="https://m.media-amazon.com/images/S/pv-target-images/469e4c0a1f21514d3979b21aa22bc6f794e4726ba6b13bf5044de7b5c328db9b.__SX420__SY236.25__QL60__._TTH_.jpg" alt="" style="height: 180px; width: 300px;"></a></td>
       <td><a href="https://www.amazon.in/minitv/tp/68c8b283-8cd6-4140-a497-66a5a20ffe34"><img src="https://m.media-amazon.com/images/S/pv-target-images/174c1b78f7c3e6f60301ad46ea08a10454dd97a2b3a8221be436d6069c88a67a.__SX420__SY236.25__QL60__._TTH_.jpg" alt="" style="height: 180px; width: 300px;"></a></td>
       <td><a href="https://www.amazon.in/minitv/tp/74271cb6-e19e-445b-a648-e15a3912b8ef"><img src="https://m.media-amazon.com/images/S/pv-target-images/d658b9a6703804679abf3034eecf1aed155292a7a60a6adf1484872507e77f6e.__SX420__SY236.25__QL60__._TTH_.jpg" alt="" style="height: 180px; width: 300px;"></a></td>

      
   </tr>
  </table>
      </div>
<div id="mini_tv">
  <h5 style="text-align:left;">Most Loved Videos</h5>
   <table>
   <tr>
       <td><a href="https://www.amazon.in/minitv/tp/36cb4081-de08-4228-9e86-445cab4928c9"><img src="https://m.media-amazon.com/images/S/pv-target-images/2ced239b906102ccc6857d9c212e4dd74191b01c3686433ed062ea052e60d7b6.__SX420__SY236.25__QL60__._TTH_.jpg" alt="" style="height: 180px; width: 300px;"></a></td>
       <td><a href="https://www.amazon.in/minitv/tp/dec3c835-ea44-48d7-a63a-7e1912c94e15"><img src="https://m.media-amazon.com/images/S/pv-target-images/974366fb5decd4611c57942e9cd45f005085aa279b7ff5a6989115db4e07ec7b.__SX420__SY236.25__QL60__._TTH_.jpg" alt="" style="height: 180px; width: 300px;"></a></td>  
       <td><a href="https://www.amazon.in/minitv/tp/68c8b283-8cd6-4140-a497-66a5a20ffe34"><img src="https://m.media-amazon.com/images/S/pv-target-images/174c1b78f7c3e6f60301ad46ea08a10454dd97a2b3a8221be436d6069c88a67a.__SX420__SY236.25__QL60__._TTH_.jpg" alt="" style="height: 180px; width: 300px;"></a></td>
       <td><a href="https://www.amazon.in/minitv/tp/cdd3896a-f084-4274-8b7e-d5d0b3afe7ca"><img src="https://m.media-amazon.com/images/S/pv-target-images/96177a143132735cf046d07d278020f01b8adfeab4bba23cff1d299a17cec08e.__SX420__SY236.25__QL60__._TTH_.jpg" alt="" style="height: 180px; width: 300px;"></a></td>
       <td><a href="https://www.amazon.in/minitv/tp/20331016-d9b9-4968-b991-c89fa4927a36"><img src="https://m.media-amazon.com/images/S/pv-target-images/c21d8865557e94879c2b7e912a4efddd3a1fff2aabb8df7b00222d045bc57a5f.__SX420__SY236.25__QL60__._TTH_.jpg" alt="" style="height: 180px; width: 300px;"></a></td>

      
   </tr>
  </table>
      </div>
<div id="mini_tv">
  <h5 style="text-align:left;">Top Picks for You</h5>
   <table>
   <tr>
       <td><a href="https://www.amazon.in/minitv/tp/9c8353da-49dd-4476-aa26-3771315f660a"><img src="https://m.media-amazon.com/images/S/pv-target-images/30b17bd79f677642fc454ec875157bed9d21e6bf12bcf8dedc81e75f4c58a3a8.__SX420__SY236.25__QL60__._TTH_.jpg" alt="" style="height: 180px; width: 300px;"></a></td>
       <td><a href="https://www.amazon.in/minitv/tp/9c8353da-49dd-4476-aa26-3771315f660a"><img src="https://m.media-amazon.com/images/S/pv-target-images/cbc33afa995e97760c6705ba2be997b5757035b0c63d9ef1f2c565074110ce25.__SX420__SY236.25__QL60__._TTH_.jpg" alt="" style="height: 180px; width: 300px;"></a></td>  
       <td><a href="https://www.amazon.in/minitv/tp/91477e94-5bb9-42de-9325-1df1bd96d7d2"><img src="https://m.media-amazon.com/images/S/pv-target-images/8b088c43059633a25792e62261f788b1321fb69021daf84e64f36573f5ed0fd1.__SX420__SY236.25__QL60__._TTH_.jpg" alt="" style="height: 180px; width: 300px;"></a></td>
       <td><a href="https://www.amazon.in/minitv/tp/0aad709a-71fe-41e5-8433-63b2111be67a"><img src="https://m.media-amazon.com/images/S/pv-target-images/6dfc85c3f2f2fc2acd3d5efdd91a6d65e83e406be8b25fbae1e183e644ee8361.__SX420__SY236.25__QL60__._TTH_.jpg" alt="" style="height: 180px; width: 300px;"></a></td>
       <td><a href="https://www.amazon.in/minitv/tp/ed614406-8550-4f54-a1d1-8edb10c8b06a"><img src="https://m.media-amazon.com/images/S/pv-target-images/94b2bf16607ad52d719540eba725f64011281328d9b771c90ccf72e312f0a6f6.__SX420__SY236.25__QL60__._TTH_.jpg" alt="" style="height: 180px; width: 300px;"></a></td>
   </tr>
  </table>
      </div>

<div id="mini_tv">
  <h5 style="text-align:left;">Mini Movie Mania</h5>
   <table>
   <tr>
       <td><a href="https://www.amazon.in/minitv/tp/280d2564-584f-452f-9c98-7baf906e01ab"><img src="https://m.media-amazon.com/images/S/pv-target-images/c0106d6e9dee7dde448c820bbf482d59cb261db4f156fe6077f8d57482e172c4.__SX420__SY236.25__QL60__._TTH_.jpg" alt="" style="height: 180px; width: 300px;"></a></td>
       <td><a href="https://www.amazon.in/minitv/tp/280d2564-584f-452f-9c98-7baf906e01ab"><img src="https://m.media-amazon.com/images/S/pv-target-images/c0cfcc3287b568c3e1c6ab081c28c9907904862b5b91d2899a1c05567d8248e7.__SX420__SY236.25__QL60__._TTH_.jpg" alt="" style="height: 180px; width: 300px;"></a></td>  
       <td><a href="https://www.amazon.in/minitv/tp/a80166fd-df98-4637-821a-0edfffc0486e"><img src="https://m.media-amazon.com/images/S/pv-target-images/ea2986409d09df3c7d09c9334979437d79f0ca4e0f5afc42d87fa1edbcbcaf8c.__SX420__SY236.25__QL60__._TTH_.jpg" alt="" style="height: 180px; width: 300px;"></a></td>
       <td><a href="https://www.amazon.in/minitv/tp/dec3c835-ea44-48d7-a63a-7e1912c94e15"><img src="https://m.media-amazon.com/images/S/pv-target-images/974366fb5decd4611c57942e9cd45f005085aa279b7ff5a6989115db4e07ec7b.__SX420__SY236.25__QL60__._TTH_.jpg" alt="" style="height: 180px; width: 300px;"></a></td>
       <td><a href="https://www.amazon.in/minitv/tp/ae5c5a39-cfc3-4cf6-b47e-c05b5ed8dc6e"><img src="https://m.media-amazon.com/images/S/pv-target-images/9931796ac80886a17b27beb020e98839c1c5c0860f1f4abc5d07b2e33f214f0f.__SX420__SY236.25__QL60__._TTH_.jpg" alt="" style="height: 180px; width: 300px;"></a></td>
   </tr>
  </table>
      </div>

<div id="mini_tv">
  <h5 style="text-align:left;">TVF Original shows</h5>
   <table>
   <tr>
       <td><a href="https://www.amazon.in/minitv/tp/cdfad24d-8535-4ff1-9280-047117c06ac8"><img src="https://m.media-amazon.com/images/S/pv-target-images/9a3e6714f2da63a7d5d8f824b7081c1de8ac544cb43cfadc7d64eb7581439fd7.__SX420__SY236.25__QL60__._TTH_.jpg" alt="" style="height: 180px; width: 300px;"></a></td>
       <td><a href="https://www.amazon.in/minitv/tp/be3fd3c2-de7e-4c2f-b4f2-ef666cffbe7d"><img src="https://m.media-amazon.com/images/S/pv-target-images/1c553578a1f19f8fc16d75cbd1645e3bd0e88c1469b78cdfb3f3416704a2953e.__SX420__SY236.25__QL60__._TTH_.jpg" alt="" style="height: 180px; width: 300px;"></a></td>  
       <td><a href="https://www.amazon.in/minitv/tp/74bbdfd6-8f19-0f8a-2ac7-2e4be3868227"><img src="https://m.media-amazon.com/images/S/pv-target-images/8e8ad9669884c8f9c87e663c670fdbe925fcebccf5fd71adb99d0ee53dc3d842.__SX420__SY236.25__QL60__._TTH_.jpg" alt="" style="height: 180px; width: 300px;"></a></td>
       <td><a href="https://www.amazon.in/minitv/tp/12eb62f8-1d76-436b-8f3a-e0dca68e52fc"><img src="https://m.media-amazon.com/images/S/pv-target-images/4524df59b8e408fc35106fce1ddbc496fad69e47ac2f5110d4d61508c753c29e.__SX420__SY236.25__QL60__._TTH_.jpg" alt="" style="height: 180px; width: 300px;"></a></td>
       <td><a href="https://www.amazon.in/minitv/tp/e4bbebf4-e610-f5ef-b84c-cb63a81ac1c6"><img src="https://m.media-amazon.com/images/S/pv-target-images/d9202f5bf1381ab37bbc789ca9005e251bb209a4ca3c96ca6e2f00150ce828ea.__SX420__SY236.25__QL60__._TTH_.jpg" alt="" style="height: 180px; width: 300px;"></a></td>
   </tr>
  </table>
      </div>
<div id="mini_tv">
  <h5 style="text-align:left;">Comedy Dhamaaka</h5>
   <table>
   <tr>
       <td><a href="https://www.amazon.in/minitv/tp/7e24716c-da84-4da3-a6e1-a3ac1bb6bf46"><img src="https://m.media-amazon.com/images/S/pv-target-images/4a8ef261fa91dd6a193065b01916712092b72e335e3e240c3cba80d68047a850.__SX420__SY236.25__QL60__._TTH_.jpg" alt="" style="height: 180px; width: 300px;"></a></td>
       <td><a href="https://www.amazon.in/minitv/tp/2a6c39f8-4bb6-42d6-b603-ccd100e93339"><img src="https://m.media-amazon.com/images/S/pv-target-images/e0e2324a21d19057bc0b441130d80f8a14f5657e08d79c0d8d4319962f6a2960.__SX420__SY236.25__QL60__._TTH_.jpg" alt="" style="height: 180px; width: 300px;"></a></td>  
       <td><a href="https://www.amazon.in/minitv/tp/54868701-6e59-4d5d-928d-729e12625d27"><img src="https://m.media-amazon.com/images/S/pv-target-images/ff437240f7bf63384854aeb5d57416be347223e741b7fc011e5464e80a7593e5.__SX420__SY236.25__QL60__._TTH_.jpg" alt="" style="height: 180px; width: 300px;"></a></td>
       <td><a href="https://www.amazon.in/minitv/tp/13e7e4a9-63bb-4e23-b8cd-6e8fb235571a"><img src="https://m.media-amazon.com/images/S/pv-target-images/2062f34a75ac61a27ba460289f0d6f80fd89cb5df2fecf2d3e8f94831914e64f.__SX420__SY236.25__QL60__._TTH_.jpg" alt="" style="height: 180px; width: 300px;"></a></td>
       <td><a href="https://www.amazon.in/minitv/tp/e59f086a-d587-444e-9fa6-a1458af27fad"><img src="https://m.media-amazon.com/images/S/pv-target-images/f15e41997719fbc097402a68b5e8b6fdacd5516899f4cbc42cd10d66d12b3415.__SX420__SY236.25__QL60__._TTH_.jpg" alt="" style="height: 180px; width: 300px;"></a></td>
   </tr>
  </table>
      </div>



 

<footer class="bg-dark text-center text-white">
  <!-- Grid container -->
  <div class="container p-4 pb-0">
    <!-- Section: Social media -->
    <section class="mb-4">
      <!-- Facebook -->
      <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
        ><i class="fab fa-facebook-f"></i
      ></a>

      <!-- Twitter -->
      <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
        ><i class="fab fa-twitter"></i
      ></a>

      <!-- Google -->
      <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
        ><i class="fab fa-google"></i
      ></a>

      <!-- Instagram -->
      <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
        ><i class="fab fa-instagram"></i
      ></a>

      <!-- Linkedin -->
      <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
        ><i class="fab fa-linkedin-in"></i
      ></a>

      <!-- Github -->
      <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
        ><i class="fab fa-github"></i
      ></a>
    </section>
    <!-- Section: Social media -->
  </div>
  <!-- Grid container -->

  <!-- Copyright -->
  <div class="tiru">
    <h5 style="text-align: left;">𝐅𝐫𝐢𝐞𝐧𝐝𝐥𝐲 𝐌𝐢𝐧𝐢𝐓𝐕 𝐃𝐨𝐮𝐛𝐥𝐞 𝐃𝐡𝐚𝐦𝐚𝐤𝐚</h5>
  </div>
  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
    © 2023 Copyright:
    <a class="text-white" href="https://mdbootstrap.com/">🐧 ⋆ 🐎  🎀  𝒩𝒶𝓋𝑒𝑒𝓃 & 𝒯𝒽𝒾𝓇𝓊𝓂𝒶𝓁𝑒𝓈𝒽  🎀  🐎 ⋆ 🐧</a>
  </div>
  <!-- Copyright -->
</footer>
<style>
  #mini_tv{
    background-color: black;
    color: white;
    text-shadow: 0 0 15px red;
    
}
td{
    
    padding: 5px;
    border-radius:50px;
}
img:hover
{
  transform: scale(1.2);
}


</style>
{% endblock %}