{% extends 'dummy.html' %}
{% load static %}

{% block title %}
    <title>Women Wear</title>
{% endblock%}

{% block body_block %}

<div id="carouselExampleInterval" class="carousel slide" data-mdb-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active" data-mdb-interval="10000">
        <a href=""><img src="{% static 'images/k1.webp' %}" class="d-block w-100" alt="Wild Landscape" height="400px"/></a>
      </div>
      <div class="carousel-item" data-mdb-interval="2000">
        <img src="{% static 'images/a2.jpeg' %}" class="d-block w-100" alt="Camera"  height="400px"/>
      </div>
      <div class="carousel-item">
        <img src="{% static 'images/r3.webp' %}" class="d-block w-100" alt="Exotic Fruits"  height="400px"/>
      </div>
      <div class="carousel-item">
        <img src="{% static 'images/a1.jpeg' %}" class="d-block w-100" alt="Exotic Fruits"  height="400px"/>
      </div>
    </div>
    <button class="carousel-control-prev" data-mdb-target="#carouselExampleInterval" type="button" data-mdb-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" data-mdb-target="#carouselExampleInterval" type="button" data-mdb-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>

  <h4 style="color:black; text-align: center;">𝐓𝐎𝐏 𝐂𝐀𝐓𝐄𝐆𝐎𝐑𝐈𝐄𝐒</h4>
<div class="allen-clothes">
      <div class="tiru"><img src="https://s7ap1.scene7.com/is/content/adityabirlafashion/AS_Home_Thumb_19_Sale?resMode=sharp2&wid=200&hei=200" alt="" height="200px" width="200px" style="border-radius: 50%;" ></div>
      <td><div class="tiru"><img src="https://images.meesho.com/images/products/151782863/giull_400.webp" alt="" height="200px" width="200px" style="border-radius: 50%;"></div></td>
     <td> <div class="tiru"><img src="https://images.meesho.com/images/products/286080270/pvj0p_400.webp" alt="" height="200px" width="200px" style="border-radius: 50%;"></div></td>
      <td><div class="tiru"><img src="https://images.meesho.com/images/products/266462295/klwva_400.webp" alt="" height="200px" width="200px" style="border-radius: 50%;"></div></td>
      <td><div class="tiru"><img src="https://images.meesho.com/images/products/162711231/ndmwf_400.webp" alt="" height="200px" width="200px" style="border-radius: 50%;"></div></td>
     <td> <div class="tiru"><img src="https://images.meesho.com/images/products/303258463/etger_400.webp" alt="" height="200px" width="200px" style="border-radius: 50%;"></div></td>
      <td><div class="tiru"><img src="https://images.meesho.com/images/products/147245332/98wnk_400.webp" alt="" height="200px" width="200px" style="border-radius: 50%;"></div></td>
   
</div>

<div class="means-wear3" style="background-color:black; color:ghostwhite;">
  <h2 style="background-color:black; color:goldenrod; text-align: center;">𝐊𝐢𝐝𝐬 𝐃𝐫𝐞𝐬𝐬𝐞𝐬</h2>
   <table>
   <tr>
       <td> <a href=""><img src="https://images.meesho.com/images/products/257888653/bzznr_400.webp" alt="" style="height: 350px; width: 298px;"></a>
      
       Cute Trendy Girls Frocks Rs. 399
       
       <td> <a href=""><img src="https://images.meesho.com/images/products/122506556/heao6_400.webp" alt="" style="height: 350px; width: 298px;"></a>
      
        Cute Trendy Girls skirts Rs. 599
       <td> <a href=""><img src="https://images.meesho.com/images/products/284957054/pqj49_400.webp" alt="" style="height: 350px; width: 298px;"></a>
      
        Cute Trendy Girls top Rs. 299
       <td> <a href=""><img src="https://images.meesho.com/images/products/204499852/4ufhq_400.webp" alt="" style="height: 350px; width: 298px;"></a>
      
        Cute Trendy Girls Frocks Rs. 399
       <td> <a href=""><img src="https://images.meesho.com/images/products/211488731/32yud_400.webp" alt="" style="height: 350px; width: 298px;"></a>
      
        Cute Trendy Girls trendy Rs. 699
   </tr>
</table>
      </div>

<div class="means-wear3" style="background-color:black; color:ghostwhite;">
    <h2 style="background-color:black; color:goldenrod; text-align: center;">𝐁𝐚𝐛𝐲 𝐁𝐨𝐲 𝐃𝐫𝐞𝐬𝐬𝐞𝐬</h2>
     <table>
     <tr>
         <td> <a href=""><img src="https://rukminim2.flixcart.com/image/612/612/xif0q/kids-t-shirt/4/p/l/10-11-years-kids-hd-p-102-smosh-original-imagzmqwznkebfze.jpeg?q=70" alt="" style="height: 350px; width: 298px;"></a>
        
         Cute Trendy Boys shirts Rs. 399
         
         <td> <a href=""><img src="https://rukminim2.flixcart.com/image/612/612/kbtp0280/kids-t-shirt/f/v/h/8-9-years-trdbl-rdwmhdfulboy-orgl-tripr-original-imaft34drfxskaab.jpeg?q=70" alt="" style="height: 350px; width: 298px;"></a>
        
          Cute Trendy Boys Monkey Rs. 599
         <td> <a href=""><img src="https://rukminim2.flixcart.com/image/612/612/xif0q/kids-t-shirt/h/g/v/13-14-years-mnfbhlsl013-mist-n-fogg-original-imagkzmzehszwccu.jpeg?q=70" alt="" style="height: 350px; width: 298px;"></a>
        
          Cute Trendy Boys T-Shirts Rs. 299
         <td> <a href=""><img src="https://rukminim2.flixcart.com/image/612/612/kjrh2fk0/kids-t-shirt/c/n/c/13-14-years-tmrwmhdfulboy-orgl-tripr-original-imafz9hqxzf3bjs2.jpeg?q=70" alt="" style="height: 350px; width: 298px;"></a>
        
          Cute Trendy Boys Frocks Rs. 399
         <td> <a href=""><img src="https://rukminim2.flixcart.com/image/612/612/xif0q/kids-t-shirt/u/o/0/8-9-years-na-kd-708-because-red-s-atlans-clothes-original-imagz7bgp3hkzh7h.jpeg?q=70" alt="" style="height: 350px; width: 298px;"></a>
        
          Cute Trendy Boys trendy Rs. 699
     </tr>
  </table>
        </div>

  <div class="means-wear3" style="background-color:black; color:ghostwhite;">
    <h2 style="background-color:black; color:goldenrod; text-align: center;">𝐁𝐚𝐛𝐲 𝐁𝐨𝐲 𝐊𝐢𝐝𝐬 𝐃𝐫𝐞𝐬𝐬𝐞𝐬</h2>
     <table>
     <tr>
         <td> <a href=""><img src="https://rukminim2.flixcart.com/image/612/612/kfvfwy80/kids-t-shirt/s/z/q/5-6-years-hft-hd2-06-18-hellcat-original-imafw8q6rt2yqwtc.jpeg?q=70" alt="" style="height: 350px; width: 298px;"></a>
        
         Cute Trendy Girls Frocks Rs. 399
         
         <td> <a href=""><img src="https://rukminim2.flixcart.com/image/612/612/xif0q/kids-t-shirt/5/a/v/2-3-years-dsn-fls-123-3-disney-by-miss-chief-original-imagzwkyr7jzvgmu.jpeg?q=70" alt="" style="height: 350px; width: 298px;"></a>
        
          Cute Trendy Girls skirts Rs. 599
         <td> <a href=""><img src="https://rukminim2.flixcart.com/image/612/612/xif0q/kids-t-shirt/1/f/f/18-24-months-momdad2-1-morvika-original-imagzxvrkhahq62d.jpeg?q=70" alt="" style="height: 350px; width: 298px;"></a>
        
          Cute Trendy Girls top Rs. 299
         <td> <a href=""><img src="https://rukminim2.flixcart.com/image/612/612/xif0q/kids-t-shirt/l/o/s/18-24-months-slgajri-lgrey-royal-piku-store-original-imagn6hxsuykwnnt.jpeg?q=70" alt="" style="height: 350px; width: 298px;"></a>
        
          Cute Trendy Girls Frocks Rs. 399
         <td> <a href=""><img src="https://rukminim2.flixcart.com/image/612/612/xif0q/kids-t-shirt/l/o/s/18-24-months-slgajri-lgrey-royal-piku-store-original-imagn6hxsuykwnnt.jpeg?q=70" alt="" style="height: 350px; width: 298px;"></a>
        
          Cute Trendy Girls trendy Rs. 699
     </tr>
  </table>
        </div>

  <div class="means-wear3" style="background-color:black; color:ghostwhite;">
    <h2 style="background-color:black; color:goldenrod; text-align: center;"> 𝐃𝐫𝐞𝐬𝐬𝐞𝐬</h2>
     <table>
     <tr>
         <td> <a href=""><img src="https://rukminim2.flixcart.com/image/612/612/kvba7bk0/kids-dress/o/a/o/9-10-years-gmd0017-blk-fashion-dream-original-imag88zn8gfmpmwy.jpeg?q=70" alt="" style="height: 350px; width: 298px;"></a>
        
         Cute Trendy Girls Frocks Rs. 399
         
         <td> <a href=""><img src="https://rukminim2.flixcart.com/image/612/612/xif0q/kids-dress/x/r/u/10-11-years-misri-gown-6-7-s9u-original-imagzscz7fqvdu7j.jpeg?q=70" alt="" style="height: 350px; width: 298px;"></a>
        
          Cute Trendy Girls skirts Rs. 599
         <td> <a href=""><img src="https://rukminim2.flixcart.com/image/612/612/xif0q/kids-dress/v/3/v/8-9-years-midi-01lf-laraib-fashion-original-imagnghukamwas4z.jpeg?q=70" alt="" style="height: 350px; width: 298px;"></a>
        
          Cute Trendy Girls top Rs. 299
         <td> <a href=""><img src="https://rukminim2.flixcart.com/image/612/612/xif0q/kids-dress/l/x/k/12-18-months-118m-awa-kids-fashion-original-imaggnyuzwp6p3hg.jpeg?q=70" alt="" style="height: 350px; width: 298px;"></a>
        
          Cute Trendy Girls Frocks Rs. 399
         <td> <a href=""><img src="https://rukminim2.flixcart.com/image/612/612/kmmcrrk0/kids-dress/l/g/v/5-6-years-kidotsav511-kidotsav-original-imagfhg72e4zeyjf.jpeg?q=70" alt="" style="height: 350px; width: 298px;"></a>
        
          Cute Trendy Girls trendy Rs. 699
     </tr>
  </table>
        </div>
  <!-- Footer -->
<footer
class="text-center text-lg-start text-white"
style="background-color:rgb(138, 137, 134)"
>
<div class="foot-panel">
  Back to Top
</div>
<!-- Grid container -->
<div class="container p-4 pb-0">
<!-- Section: Links -->
<section class="">
<!--Grid row-->
<div class="row">
<!-- Grid column -->
<div class="col-md-3 col-lg-3 col-xl-3 mx-auto mt-3">
  <h6 class="text-uppercase mb-4 font-weight-bold">
    Company name
  </h6>
  <p>
    Here you can use rows and columns to organize your footer
    content. Lorem ipsum dolor sit amet, consectetur adipisicing
    elit.
  </p>
</div>
<!-- Grid column -->

<hr class="w-100 clearfix d-md-none" />

<!-- Grid column -->
<div class="col-md-2 col-lg-2 col-xl-2 mx-auto mt-3">
  <h6 class="text-uppercase mb-4 font-weight-bold">Products</h6>
  <p>
    <a class="text-white">All Brands</a>
  </p>
  <p>
    <a class="text-white">Free Movies</a>
  </p>
  <p>
    <a class="text-white">Friendly Shopping</a>
  </p>
  <p>
    <a class="text-white">NVN $ TIRU</a>
  </p>
</div>
<!-- Grid column -->

<hr class="w-100 clearfix d-md-none" />

<!-- Grid column -->
<hr class="w-100 clearfix d-md-none" />

<!-- Grid column -->
<div class="col-md-4 col-lg-3 col-xl-3 mx-auto mt-3">
  <h6 class="text-uppercase mb-4 font-weight-bold">Contact</h6>
  <p><i class="fas fa-home mr-3"></i> New York, NY 10012, US</p>
  <p><i class="fas fa-envelope mr-3"></i> info@gmail.com</p>
  <p><i class="fas fa-phone mr-3"></i> + 01 234 567 88</p>
  <p><i class="fas fa-print mr-3"></i> + 01 234 567 89</p>
</div>
<!-- Grid column -->

<!-- Grid column -->
<div class="col-md-3 col-lg-2 col-xl-2 mx-auto mt-3">
  <h6 class="text-uppercase mb-4 font-weight-bold">Follow us</h6>

  <!-- Facebook -->
  <a
     class="btn btn-primary btn-floating m-1"
     style="background-color: #3b5998"
     href="#!"
     role="button"
     ><i class="fab fa-facebook-f"></i
    ></a>

  <!-- Twitter -->
  <a
     class="btn btn-primary btn-floating m-1"
     style="background-color: #55acee"
     href="#!"
     role="button"
     ><i class="fab fa-twitter"></i
    ></a>

  <!-- Google -->
  <a
     class="btn btn-primary btn-floating m-1"
     style="background-color: #dd4b39"
     href="#!"
     role="button"
     ><i class="fab fa-google"></i
    ></a>

  <!-- Instagram -->
  <a
     class="btn btn-primary btn-floating m-1"
     style="background-color: #ac2bac"
     href="#!"
     role="button"
     ><i class="fab fa-instagram"></i
    ></a>

  <!-- Linkedin -->
  <a
     class="btn btn-primary btn-floating m-1"
     style="background-color: #0082ca"
     href="#!"
     role="button"
     ><i class="fab fa-linkedin-in"></i
    ></a>
  <!-- Github -->
  <a
     class="btn btn-primary btn-floating m-1"
     style="background-color: #333333"
     href="#!"
     role="button"
     ><i class="fab fa-github"></i
    ></a>
</div>
</div>
<!--Grid row-->
</section>
<!-- Section: Links -->
</div>
<!-- Grid container -->

<!-- Copyright -->
<div
class="text-center p-3"
style="background-color: rgba(0, 0, 0, 0.2)"
>
© 2023 Copyright:
<a class="text-white" href=""
>Friendly Shopping.com</a
>
</div>
<!-- Copyright -->
</footer>
<!-- Footer -->

  
  
<style>
    .tiru
{
   background-color: black;
   border-radius: 50%;
   height: 194px;
   width:194px;
   margin-left: 10px;
  
}
.allen-clothes
{
   display: flex;
   margin-left: 50px;
   position: relative;
   top:-10px;
   /* background-color: black; */
   padding: 10px;
  
   
}
#means-wear{
    background-color:ghostwhite;
    color: white; 
}
#means-wear2{
    background-color:black;
    color: white;
}
   
td{
    
    padding: 5px;
    border-radius:50px;
}
img
{
    margin-left: -5px;
}
img:hover
{
    transform: scale(1.1);
}
.foot-panel        
        {
          
          background-color: #37475a;
          color: ghostwhite;
          height:50px;
          display: flex;
          justify-content: center;
          align-items: center;
          font-size: 0.85rem;
        }
</style>
{% endblock %}