{% extends 'dummy.html' %}
{% load static %}

{% block title %}
    <title>Mens Wear</title>
{% endblock%}

{% block body_block %}

<div id="carouselExampleInterval" class="carousel slide" data-mdb-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active" data-mdb-interval="10000">
        <a href=""><img src="{% static 'images/r1.webp' %}" class="d-block w-100" alt="Wild Landscape" height="400px"/></a>
      </div>
      <div class="carousel-item" data-mdb-interval="2000">
        <img src="{% static 'images/a2.jpeg' %}" class="d-block w-100" alt="Camera"  height="400px"/>
      </div>
      <div class="carousel-item">
        <img src="{% static 'images/r3.webp' %}" class="d-block w-100" alt="Exotic Fruits"  height="400px"/>
      </div>
      <div class="carousel-item">
        <img src="{% static 'images/a1.jpeg' %}" class="d-block w-100" alt="Exotic Fruits"  height="400px"/>
      </div>
    </div>
    <button class="carousel-control-prev" data-mdb-target="#carouselExampleInterval" type="button" data-mdb-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" data-mdb-target="#carouselExampleInterval" type="button" data-mdb-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
 
  <div id="means-wear">
   <table>
      <tr>
   <td><img src="{% static 'images/r7.avif' %}" alt=""></td>
    <td><img src="{% static 'images/a11.png' %}" alt=""></td>
    <td><img src="https://d4kuloxg8pkbr.cloudfront.net/icons/logo.svg" alt="" srcset="" height="100px" width="300px" style="margin-left:70px;"></td>
   </tr>

    
     <tr>
         <td> <a href=""><img src="{% static 'images/rm1.png' %}" alt="" style="height: 480px; width: 480px; margin-left: 10px;"></a></td>
         <td> <a href=""><img src="{% static 'images/rm2.png' %}" alt="" style="height: 480px; width: 480px; margin-left: 10px;"></a></td>
         <td> <a href=""><img src="{% static 'images/rm3.png' %}" alt="" style="height: 480px; width: 480px; margin-left: 10px;"></a></td>
     </tr>
    </table>
      </div>

<h4 style="color:black;">𝐀𝐥𝐥𝐞𝐧 𝐒𝐨𝐥𝐥𝐲</h4>
<div class="allen-clothes">
      <div class="tiru"><img src="https://s7ap1.scene7.com/is/content/adityabirlafashion/AS_Home_Thumb_19_Sale?resMode=sharp2&wid=200&hei=200" alt="" height="200px" width="200px" style="border-radius: 50%;" ></div>
      <td><div class="tiru"><img src="https://s7ap1.scene7.com/is/image/adityabirlafashion/AS_CLP_Men_SC_13_TShirts?resMode=sharp2&wid=200&hei=200" alt="" height="200px" width="200px" style="border-radius: 50%;"></div></td>
     <td> <div class="tiru"><img src="https://s7ap1.scene7.com/is/image/adityabirlafashion/AS_CLP_Men_SC_14_Waistcoats?resMode=sharp2&wid=200&hei=200" alt="" height="200px" width="200px" style="border-radius: 50%;"></div></td>
      <td><div class="tiru"><img src="https://s7ap1.scene7.com/is/image/adityabirlafashion/AS_CLP_Men_SC_07_Jeans?resMode=sharp2&wid=200&hei=200" alt="" height="200px" width="200px" style="border-radius: 50%;"></div></td>
      <td><div class="tiru"><img src="https://s7ap1.scene7.com/is/image/adityabirlafashion/AS_CLP_Men_SC_06_Shorts?resMode=sharp2&wid=200&hei=200" alt="" height="200px" width="200px" style="border-radius: 50%;"></div></td>
     <td> <div class="tiru"><img src="https://s7ap1.scene7.com/is/image/adityabirlafashion/AS_CLP_Men_SC_15_Trackpants?resMode=sharp2&wid=200&hei=200" alt="" height="200px" width="200px" style="border-radius: 50%;"></div></td>
      <td><div class="tiru"><img src="https://s7ap1.scene7.com/is/image/adityabirlafashion/AS_CLP_Men_SC_16_winter?resMode=sharp2&wid=200&hei=200" alt="" height="200px" width="200px" style="border-radius: 50%;"></div></td>
   
</div>

<div id="means-wear3" style="background-color: black; color: ghostwhite;">
   <h5 style="background-color:black; color: ghostwhite;">Stylish Allen Solly Wears</h5>
    <table>
    <tr>
        <td> <a href=""><img src="https://imagescdn.allensolly.com/img/app/product/7/783046-9093451.jpg?q=75&auto=format&w=387" alt="" style="height: 350px; width: 298px;"></a>Men Blue Slim Fit Solid Casual Blazer
         ₹ 6,999
         ₹ 3,849
         45% OFF</td>
        <td> <a href=""><img src="https://imagescdn.allensolly.com/img/app/product/8/858122-10101813.jpg?q=75&auto=format&w=387" alt="" style="height: 350px; width: 298px;"></a>Mens Devotional Dhoti & Towel Set Mercury Red
           MRP Rs.855</td>
        <td> <a href=""><img src="https://imagescdn.allensolly.com/img/app/product/8/859829-10145570.jpg?q=75&auto=format&w=387" alt="" style="height: 350px; width: 298px;"></a>Mens Devotional Dhoti & Towel Set Brindhavan Black
           MRP Rs.935</td>
        <td> <a href=""><img src="https://imagescdn.allensolly.com/img/app/product/9/906547-11175688.jpg?q=75&auto=format&w=387" alt="" style="height: 350px; width: 298px;"></a>Mens Devotional Dhoti & Towel Set Golden Kavi
           MRP Rs.635</td>
        <td> <a href=""><img src="https://imagescdn.allensolly.com/img/app/product/7/783657-9105600.jpg?q=75&auto=format&w=387" alt="" style="height: 350px; width: 298px;"></a>Mens Devotional Shirt & Dhoti Combo Black
           MRP Rs.1,330</td>

    </tr>
</table>
      </div>
<div id="means-wear2">
   <h5 style="background-color:black; color: ghostwhite;">𝐌𝐔𝐅𝐓𝐈 𝐒𝐏𝐄𝐂𝐈𝐀𝐋 𝐖𝐄𝐀𝐑𝐒</h5>
    <table>
    <tr>
        <td> <a href=""><img src="https://d4kuloxg8pkbr.cloudfront.net/media/catalog/product/cache/92c694c026b985a2dbb4cc313b20e298/1/_/1_mfs-13896-q-01-black_1.jpg" alt="" style="height: 350px; width: 298px;"></a>Mens Matching Border Dhoti & Half Sleeves Shirt Set Trendy CC10
           MRP Rs.895</td>
        <td> <a href=""><img src="https://d4kuloxg8pkbr.cloudfront.net/media/catalog/product/cache/92c694c026b985a2dbb4cc313b20e298/1/_/1_mfs-13869-q-56-orange_1.jpg" alt="" style="height: 350px; width: 298px;"></a>Mens Matching Border Dhoti & Half Sleeves Shirt Set Trendy CC8
           MRP Rs.895</td>
        <td> <a href=""><img src="https://d4kuloxg8pkbr.cloudfront.net/media/catalog/product/cache/92c694c026b985a2dbb4cc313b20e298/1/_/1_mfs-13841-q-11-brown_1.jpg" alt="" style="height: 350px; width: 298px;"></a>Mens Matching Border Dhoti & Half Sleeves Shirt Set Trendy CC2
           MRP Rs.895</td>
        <td> <a href=""><img src="https://d4kuloxg8pkbr.cloudfront.net/media/catalog/product/cache/92c694c026b985a2dbb4cc313b20e298/1/_/1_mfk-9373-q-12-yellow_1.jpg" alt="" style="height: 350px; width: 298px;"></a>Mens Matching Border Dhoti & Half Sleeves Shirt Set Trendy CC9
           MRP Rs.895</td>
        <td> <a href=""><img src="https://d4kuloxg8pkbr.cloudfront.net/media/catalog/product/cache/92c694c026b985a2dbb4cc313b20e298/1/_/1_mfl-0102-q-02-white_1.jpg" alt="" style="height: 350px; width: 298px;"></a>Mens Matching Border Dhoti & Half Sleeves Shirt Set Trendy CC4
           MRP Rs.895</td>

    </tr>
   </table>
      </div>

 <div id="means-wear2">
    <h5 style="background-color:black; color: ghostwhite;">𝐌𝐄𝐍𝐒 𝐃𝐇𝐎𝐓𝐈 & 𝐒𝐇𝐈𝐑𝐓 𝐒𝐄𝐓</h5>
     <table>
     <tr>
         <td> <a href=""><img src="https://cdn.shopify.com/s/files/1/0094/0716/8559/products/1_a782f96a-6408-442d-8b47-be0f0828dc63_400x.jpg?v=1666325044" alt="" style="height: 350px; width: 298px;"></a>Mens Matching Border Dhoti & Half Sleeves Shirt Set Trendy CC10
            MRP Rs.895</td>
         <td> <a href=""><img src="https://cdn.shopify.com/s/files/1/0094/0716/8559/products/2_4fed02f8-2d01-40dc-a3d0-e3101d854c28_400x.jpg?v=1666327555" alt="" style="height: 350px; width: 298px;"></a>Mens Matching Border Dhoti & Half Sleeves Shirt Set Trendy CC8
            MRP Rs.895</td>
         <td> <a href=""><img src="https://cdn.shopify.com/s/files/1/0094/0716/8559/products/2_d6757c79-86d6-4e96-9ae5-7e1eaa9dc737_400x.jpg?v=1666326326" alt="" style="height: 350px; width: 298px;"></a>Mens Matching Border Dhoti & Half Sleeves Shirt Set Trendy CC2
            MRP Rs.895</td>
         <td> <a href=""><img src="https://cdn.shopify.com/s/files/1/0094/0716/8559/products/2_d54fbb72-38b3-43c5-b5ba-0e86f088a313_400x.jpg?v=1666327776" alt="" style="height: 350px; width: 298px;"></a>Mens Matching Border Dhoti & Half Sleeves Shirt Set Trendy CC9
            MRP Rs.895</td>
         <td> <a href=""><img src="https://cdn.shopify.com/s/files/1/0094/0716/8559/products/1_d4acccc0-ad70-476f-9dde-b45a98c77499_400x.jpg?v=1666326820" alt="" style="height: 350px; width: 298px;"></a>Mens Matching Border Dhoti & Half Sleeves Shirt Set Trendy CC4
            MRP Rs.895</td>

     </tr>
    </table>
      </div>


<div id="means-wear2">
   <h5 style="background-color:black; color: ghostwhite;">𝐌𝐔𝐅𝐓𝐈 𝐒𝐏𝐄𝐂𝐈𝐀𝐋 𝐓-𝐒𝐡𝐢𝐫𝐭𝐬</h5>
    <table>
    <tr>
        <td> <a href=""><img src="https://d4kuloxg8pkbr.cloudfront.net/media/catalog/product/cache/92c694c026b985a2dbb4cc313b20e298/1/_/1_mfk-9113-p-103-burgundy_1.jpg" alt="" style="height: 350px; width: 298px;"></a>Mens Matching Border Dhoti & Half Sleeves Shirt Set Trendy CC10
           MRP Rs.895</td>
        <td> <a href=""><img src="https://d4kuloxg8pkbr.cloudfront.net/media/catalog/product/cache/92c694c026b985a2dbb4cc313b20e298/1/_/1_mfk-9108-p-24-off-white_1.jpg" alt="" style="height: 350px; width: 298px;"></a>Mens Matching Border Dhoti & Half Sleeves Shirt Set Trendy CC8
           MRP Rs.895</td>
        <td> <a href=""><img src="https://imagescdn.vanheusenindia.com/img/app/product/8/886264-10667084.jpg?q=75&auto=format&w=387" alt="" style="height: 350px; width: 298px;"></a>Mens Matching Border Dhoti & Half Sleeves Shirt Set Trendy CC2
           MRP Rs.895</td>
        <td> <a href=""><img src="https://imagescdn.vanheusenindia.com/img/app/product/8/816719-9757523.jpg?q=75&auto=format&w=387" alt="" style="height: 350px; width: 298px;"></a>Mens Matching Border Dhoti & Half Sleeves Shirt Set Trendy CC9
           MRP Rs.895</td>
        <td> <a href=""><img src="https://imagescdn.vanheusenindia.com/img/app/product/6/668549-6885899.jpg?q=75&auto=format&w=387" alt="" style="height: 350px; width: 298px;"></a>Mens Matching Border Dhoti & Half Sleeves Shirt Set Trendy CC4
           MRP Rs.895</td>

    </tr>
   </table>
      </div>




     <div id="means-wear3" style="background-color: black; color: ghostwhite;">
        <h5 style="background-color:black; color: ghostwhite;">𝐃𝐄𝐕𝐎𝐓𝐈𝐎𝐍𝐀𝐋 𝐃𝐇𝐎𝐓𝐈 & 𝐓𝐎𝐖𝐄𝐋𝐒</h5>
         <table>
         <tr>
             <td> <a href=""><img src="https://cdn.shopify.com/s/files/1/0094/0716/8559/products/4_99f5f2c6-cc87-4f7f-bda1-8f861d756d5d_400x.jpg?v=1677733705" alt="" style="height: 350px; width: 298px;"></a>Mens Makara Jyoti Devotional Dhoti & Towel Set
                MRP Rs.435</td>
             <td> <a href=""><img src="https://cdn.shopify.com/s/files/1/0094/0716/8559/products/1_73fbd75c-2692-4a31-987c-9b99c5a291ca_400x.jpg?v=1669790804" alt="" style="height: 350px; width: 298px;"></a>Mens Devotional Dhoti & Towel Set Mercury Red
                MRP Rs.855</td>
             <td> <a href=""><img src="https://cdn.shopify.com/s/files/1/0094/0716/8559/products/Untitled-1_0030_DSC03878_6528f892-d4f5-4986-8d25-d6b0bf15b22c_400x.jpg?v=1637652063" alt="" style="height: 350px; width: 298px;"></a>Mens Devotional Dhoti & Towel Set Brindhavan Black
                MRP Rs.935</td>
             <td> <a href=""><img src="https://cdn.shopify.com/s/files/1/0094/0716/8559/products/01_48e21e4e-e11f-494f-a5ce-a4b6ec2438b0_400x.jpg?v=1678791716" alt="" style="height: 350px; width: 298px;"></a>Mens Devotional Dhoti & Towel Set Golden Kavi
                MRP Rs.635</td>
             <td> <a href=""><img src="https://cdn.shopify.com/s/files/1/0094/0716/8559/products/1_cf023792-58b8-4eba-82aa-a5124e742059_400x.jpg?v=1669792163" alt="" style="height: 350px; width: 298px;"></a>Mens Devotional Shirt & Dhoti Combo Black
                MRP Rs.1,330</td>
    
         </tr>
    </table>
      </div>


<div id="means-wear3" style="background-color: black; color: ghostwhite;">
   <h5 style="background-color:black; color: ghostwhite;">𝐌𝐞𝐧'𝐬 𝐓𝐫𝐚𝐜𝐤 𝐏𝐚𝐧𝐭𝐬</h5>
    <table>
    <tr>
        <td> <a href=""><img src="https://rukminim2.flixcart.com/image/612/612/xif0q/track-pant/e/7/k/xxl-combo-tr1-vebnor-original-imaghs469mqhr89w.jpeg?q=70" alt="" style="height: 350px; width: 298px;"></a>Pack of 2 Men Solid Black, Grey Track Pants
         ₹499
         </td>
        <td> <a href=""><img src="https://rukminim2.flixcart.com/image/612/612/xif0q/track-pant/l/s/i/s-solid-men-track-pants-pack-of-2-foxter-original-imagzvpkgaayqxqv.jpeg?q=70" alt="" style="height: 350px; width: 298px;"></a>Pack of 2 Men Solid Black, Blue Track Pants
         ₹399</td>
        <td> <a href=""><img src="https://rukminim2.flixcart.com/image/612/612/xif0q/track-pant/1/f/4/s-trkcombo1-2-fuback-original-imagmrymvzh7krwr.jpeg?q=70" alt="" style="height: 350px; width: 298px;"></a>Pack of 2 Men Solid Black, Blue Track Pants
         </td>
        <td> <a href=""><img src="https://rukminim2.flixcart.com/image/612/612/xif0q/track-pant/i/n/l/l-tblrdjogj22-bljogj24-tripr-original-imafyyggvjghyrq5-bb.jpeg?q=70" alt="" style="height: 350px; width: 298px;"></a>Pack of 2 Men Solid Black, Dark Blue Track Pants
         ₹394</td>
        <td> <a href=""><img src="https://rukminim2.flixcart.com/image/612/612/xif0q/track-pant/i/s/a/s-tr19-vebnor-original-imagm4nxzywhdcey.jpeg?q=70" alt="" style="height: 350px; width: 298px;"></a>Pack of 2 Men Solid Black, Grey Track Pants
         ₹399</td>

    </tr>
</table>
      </div>
<div id="means-wear3" style="background-color: black; color: ghostwhite;">
    <h5 style="background-color:black; color: ghostwhite;">𝐅𝐚𝐭𝐡𝐞𝐫 𝐚𝐧𝐝 𝐒𝐨𝐧 𝐂𝐨𝐦𝐛𝐨𝐬</h5>
     <table>
     <tr>
         <td> <a href=""><img src="{% static 'images/rmm1.webp' %}" alt="" style="height: 350px; width: 298px;"></a>Mens Makara Jyoti Devotional Dhoti & Towel Set
            MRP Rs.435</td>
         <td> <a href=""><img src="{% static 'images/rmm2.webp' %}" alt="" style="height: 350px; width: 298px;"></a>Mens Devotional Dhoti & Towel Set Mercury Red
            MRP Rs.855</td>
         <td> <a href=""><img src="{% static 'images/rmm3.webp' %}" alt="" style="height: 350px; width: 298px;"></a>Mens Devotional Dhoti & Towel Set Brindhavan Black
            MRP Rs.935</td>
         <td> <a href=""><img src="{% static 'images/rmm4.webp' %}" alt="" style="height: 350px; width: 298px;"></a>Mens Devotional Dhoti & Towel Set Golden Kavi
            MRP Rs.635</td>
         <td> <a href=""><img src="{% static 'images/rmm5.webp' %}" alt="" style="height: 350px; width: 298px;"></a>Mens Devotional Shirt & Dhoti Combo Black
            MRP Rs.1,330</td>

     </tr>
</table>
      </div>


<!-- Footer -->
<footer
class="text-center text-lg-start text-white"
style="background-color:rgb(138, 137, 134)"
>
<div class="foot-panel">
  Back to Top
</div>
<!-- Grid container -->
<div class="container p-4 pb-0">
<!-- Section: Links -->
<section class="">
<!--Grid row-->
<div class="row">
<!-- Grid column -->
<div class="col-md-3 col-lg-3 col-xl-3 mx-auto mt-3">
  <h6 class="text-uppercase mb-4 font-weight-bold">
    Company name
  </h6>
  <p>
    Here you can use rows and columns to organize your footer
    content. Lorem ipsum dolor sit amet, consectetur adipisicing
    elit.
  </p>
</div>
<!-- Grid column -->

<hr class="w-100 clearfix d-md-none" />

<!-- Grid column -->
<div class="col-md-2 col-lg-2 col-xl-2 mx-auto mt-3">
  <h6 class="text-uppercase mb-4 font-weight-bold">Products</h6>
  <p>
    <a class="text-white">All Brands</a>
  </p>
  <p>
    <a class="text-white">Free Movies</a>
  </p>
  <p>
    <a class="text-white">Friendly Shopping</a>
  </p>
  <p>
    <a class="text-white">NVN $ TIRU</a>
  </p>
</div>
<!-- Grid column -->

<hr class="w-100 clearfix d-md-none" />

<!-- Grid column -->
<hr class="w-100 clearfix d-md-none" />

<!-- Grid column -->
<div class="col-md-4 col-lg-3 col-xl-3 mx-auto mt-3">
  <h6 class="text-uppercase mb-4 font-weight-bold">Contact</h6>
  <p><i class="fas fa-home mr-3"></i> New York, NY 10012, US</p>
  <p><i class="fas fa-envelope mr-3"></i> info@gmail.com</p>
  <p><i class="fas fa-phone mr-3"></i> + 01 234 567 88</p>
  <p><i class="fas fa-print mr-3"></i> + 01 234 567 89</p>
</div>
<!-- Grid column -->

<!-- Grid column -->
<div class="col-md-3 col-lg-2 col-xl-2 mx-auto mt-3">
  <h6 class="text-uppercase mb-4 font-weight-bold">Follow us</h6>

  <!-- Facebook -->
  <a
     class="btn btn-primary btn-floating m-1"
     style="background-color: #3b5998"
     href="#!"
     role="button"
     ><i class="fab fa-facebook-f"></i
    ></a>

  <!-- Twitter -->
  <a
     class="btn btn-primary btn-floating m-1"
     style="background-color: #55acee"
     href="#!"
     role="button"
     ><i class="fab fa-twitter"></i
    ></a>

  <!-- Google -->
  <a
     class="btn btn-primary btn-floating m-1"
     style="background-color: #dd4b39"
     href="#!"
     role="button"
     ><i class="fab fa-google"></i
    ></a>

  <!-- Instagram -->
  <a
     class="btn btn-primary btn-floating m-1"
     style="background-color: #ac2bac"
     href="#!"
     role="button"
     ><i class="fab fa-instagram"></i
    ></a>

  <!-- Linkedin -->
  <a
     class="btn btn-primary btn-floating m-1"
     style="background-color: #0082ca"
     href="#!"
     role="button"
     ><i class="fab fa-linkedin-in"></i
    ></a>
  <!-- Github -->
  <a
     class="btn btn-primary btn-floating m-1"
     style="background-color: #333333"
     href="#!"
     role="button"
     ><i class="fab fa-github"></i
    ></a>
</div>
</div>
<!--Grid row-->
</section>
<!-- Section: Links -->
</div>
<!-- Grid container -->

<!-- Copyright -->
<div
class="text-center p-3"
style="background-color: rgba(0, 0, 0, 0.2)"
>
© 2023 Copyright:
<a class="text-white" href=""
>Friendly Shopping.com</a
>
</div>
<!-- Copyright -->
</footer>
<!-- Footer -->



<style>
     #means-wear{
    background-color:ghostwhite;
    color: white; 
}
#means-wear2{
    background-color:black;
    color: white;
}
   
td{
    
    padding: 5px;
    border-radius:50px;
}
img
{
    margin-left: -5px;
    border-radius:43px;
}
.tiru
{
   background-color: black;
   border-radius: 50%;
   height: 194px;
   width:194px;
   margin-left: 10px;
  
}
.allen-clothes
{
   display: flex;
   margin-left: 50px;
   position: relative;
   top:-10px;
   /* background-color: black; */
   padding: 10px;
  
   
}
.foot-panel        
        {
          
          background-color: #37475a;
          color: ghostwhite;
          height:50px;
          display: flex;
          justify-content: center;
          align-items: center;
          font-size: 0.85rem;
        }
       img:hover
       {
         transform: scale(1.1);
       }
</style>

{% endblock %}
