{% extends 'dummy.html' %}
{% load static %}
{% block title %}
   <title>Laptop details</title>
{% endblock %}
{% block body_block %}
<section class="section-3">
    <div class="section-3-container">
      <h3 style="color:black;">Bestselling affordable smartphones</h3>
      <div class="product-detail-cards">
         <div class="product-detail-card">
            <div class="product-detail-img">
              <a href="https://www.amazon.in/dp/B0C45N5VPT/ref=QAHzEditorial_en_IN_1?pf_rd_r=F3Y83FZA9S0RH646J3XJ&pf_rd_p=f64e14ba-5dc6-45b9-a74e-118415d9905c&pf_rd_m=A1VBAL9TL5WCBF&pf_rd_s=merchandised-search-7&pf_rd_t=&pf_rd_i=1389401031&ie=UTF8&ref_=CLP_MH8_BSAffordable_1"> <img src="https://m.media-amazon.com/images/G/31/img23/Wireless/CatPage/Bestseller/Affordable/25thJul/D71695290_tile_1._CB600697376_.jpg" alt="" srcset=""></a>
            </div>
            <a href="https://www.amazon.in/dp/B0C45N5VPT/ref=QAHzEditorial_en_IN_1?pf_rd_r=F3Y83FZA9S0RH646J3XJ&pf_rd_p=f64e14ba-5dc6-45b9-a74e-118415d9905c&pf_rd_m=A1VBAL9TL5WCBF&pf_rd_s=merchandised-search-7&pf_rd_t=&pf_rd_i=1389401031&ie=UTF8&ref_=CLP_MH8_BSAffordable_1" class="btn btn-danger">Shop now</a>
         </div>

         <div class="product-detail-card">
          <div class="product-detail-img">
           <a href="https://www.amazon.in/dp/B0BYN48MQW/ref=QAHzEditorial_en_IN_2?pf_rd_r=F3Y83FZA9S0RH646J3XJ&pf_rd_p=f64e14ba-5dc6-45b9-a74e-118415d9905c&pf_rd_m=A1VBAL9TL5WCBF&pf_rd_s=merchandised-search-7&pf_rd_t=&pf_rd_i=1389401031&ie=UTF8&ref_=CLP_MH8_BSAffordable_2"><img src="https://m.media-amazon.com/images/G/31/img23/Wireless/Xiaomi/BSK/D71695290_12_02.1._CB598755198_.jpg" alt="" srcset=""></a>
          </div>
          <a href="https://www.amazon.in/dp/B0BYN48MQW/ref=QAHzEditorial_en_IN_2?pf_rd_r=8SMMWGGV3QHYTATG82S3&pf_rd_p=f64e14ba-5dc6-45b9-a74e-118415d9905c&pf_rd_m=A1VBAL9TL5WCBF&pf_rd_s=merchandised-search-7&pf_rd_t=&pf_rd_i=1389401031&ie=UTF8&ref_=CLP_MH8_BSAffordable_2" class="btn btn-danger">Shop now</a>
       </div>

       <div class="product-detail-card">
        <div class="product-detail-img">
         <a href="https://www.amazon.in/dp/B0BMGB2TPR/ref=QAHzEditorial_en_IN_3?pf_rd_r=F3Y83FZA9S0RH646J3XJ&pf_rd_p=f64e14ba-5dc6-45b9-a74e-118415d9905c&pf_rd_m=A1VBAL9TL5WCBF&pf_rd_s=merchandised-search-7&pf_rd_t=&pf_rd_i=1389401031&ie=UTF8&ref_=CLP_MH8_BSAffordable_3"><img src="https://m.media-amazon.com/images/G/31/img23/Wireless/CatPage/Bestseller/Affordable/25thJul/D71695290_tile_3._CB600697376_.jpg" alt="" srcset=""></a>
        </div>
        <a href="https://www.amazon.in/dp/B0BMGB2TPR/ref=QAHzEditorial_en_IN_3?pf_rd_r=F3Y83FZA9S0RH646J3XJ&pf_rd_p=f64e14ba-5dc6-45b9-a74e-118415d9905c&pf_rd_m=A1VBAL9TL5WCBF&pf_rd_s=merchandised-search-7&pf_rd_t=&pf_rd_i=1389401031&ie=UTF8&ref_=CLP_MH8_BSAffordable_3" class="btn btn-danger">Shop now</a>
     </div>

     <div class="product-detail-card">
      <div class="product-detail-img">
       <a href="https://www.amazon.in/dp/B0BZ479WZD/ref=QAHzEditorial_en_IN_4?pf_rd_r=F3Y83FZA9S0RH646J3XJ&pf_rd_p=f64e14ba-5dc6-45b9-a74e-118415d9905c&pf_rd_m=A1VBAL9TL5WCBF&pf_rd_s=merchandised-search-7&pf_rd_t=&pf_rd_i=1389401031&ie=UTF8&ref_=CLP_MH8_BSAffordable_4"><img src="https://m.media-amazon.com/images/G/31/img23/Wireless/CatPage/Bestseller/Affordable/25thJul/D71695290_tile_4._CB600697376_.jpg" alt="" srcset=""></a>
      </div>
      <a href="https://www.amazon.in/dp/B0BZ479WZD/ref=QAHzEditorial_en_IN_4?pf_rd_r=F3Y83FZA9S0RH646J3XJ&pf_rd_p=f64e14ba-5dc6-45b9-a74e-118415d9905c&pf_rd_m=A1VBAL9TL5WCBF&pf_rd_s=merchandised-search-7&pf_rd_t=&pf_rd_i=1389401031&ie=UTF8&ref_=CLP_MH8_BSAffordable_4" class="btn btn-danger">Shop now</a>
   </div>

   <div class="product-detail-card">
    <div class="product-detail-img">
     <a href="https://www.amazon.in/dp/B0C46H59YD/ref=QAHzEditorial_en_IN_5?pf_rd_r=F3Y83FZA9S0RH646J3XJ&pf_rd_p=f64e14ba-5dc6-45b9-a74e-118415d9905c&pf_rd_m=A1VBAL9TL5WCBF&pf_rd_s=merchandised-search-7&pf_rd_t=&pf_rd_i=1389401031&ie=UTF8&ref_=CLP_MH8_BSAffordable_5"><img src="https://m.media-amazon.com/images/G/31/img23/Wireless/CatPage/Bestseller/Affordable/25thJul/D71695290_tile_5._CB600697376_.jpg" alt="" srcset=""></a>
    </div>
    <a href="https://www.amazon.in/dp/B0C46H59YD/ref=QAHzEditorial_en_IN_5?pf_rd_r=F3Y83FZA9S0RH646J3XJ&pf_rd_p=f64e14ba-5dc6-45b9-a74e-118415d9905c&pf_rd_m=A1VBAL9TL5WCBF&pf_rd_s=merchandised-search-7&pf_rd_t=&pf_rd_i=1389401031&ie=UTF8&ref_=CLP_MH8_BSAffordable_5" class="btn btn-danger">Shop now</a>
 </div>
 <div class="product-detail-card">
  <div class="product-detail-img">
   <a href="https://www.amazon.in/dp/B09WQYFLRX/ref=QAHzEditorial_en_IN_1?pf_rd_r=F3Y83FZA9S0RH646J3XJ&pf_rd_p=a30f0784-7553-4250-9294-1be3696a11d5&pf_rd_m=A1VBAL9TL5WCBF&pf_rd_s=merchandised-search-12&pf_rd_t=&pf_rd_i=1389401031&ie=UTF8&ref_=CLP_MH9_BSMidrange_1"><img src="https://m.media-amazon.com/images/G/31/img23/Wireless/CatPage/Bestseller/Midrange/25thJul/D71695290_tile_1._CB600676179_.jpg" alt="" srcset=""></a>
  </div>
  <a href="https://www.amazon.in/dp/B09WQYFLRX/ref=QAHzEditorial_en_IN_1?pf_rd_r=F3Y83FZA9S0RH646J3XJ&pf_rd_p=a30f0784-7553-4250-9294-1be3696a11d5&pf_rd_m=A1VBAL9TL5WCBF&pf_rd_s=merchandised-search-12&pf_rd_t=&pf_rd_i=1389401031&ie=UTF8&ref_=CLP_MH9_BSMidrange_1" class="btn btn-danger">Shop now</a>
</div>
      </div>
    </div>
</section> 
<section class="section-3">
  <div class="section-3-container">
    <h3 style="color: #000;">Bestselling premium smartphones</h3>

    <div class="product-detail-cards">
       <div class="product-detail-card">
          <div class="product-detail-img">
            <a href="https://www.amazon.in/dp/B0BDHX8Z63/ref=QAHzEditorial_en_IN_1?pf_rd_r=F3Y83FZA9S0RH646J3XJ&pf_rd_p=1470d63c-0ec3-4032-880a-610a258def32&pf_rd_m=A1VBAL9TL5WCBF&pf_rd_s=merchandised-search-14&pf_rd_t=&pf_rd_i=1389401031&ie=UTF8&ref_=CLP_MH10_BSPremium_1"> <img src="https://m.media-amazon.com/images/G/31/img21/Wireless/Madhav/July/Apple/testimoji/V1/PC/Video/iphmone-14._CB598896880_.jpg" alt="" srcset=""></a>
          </div>
          <a href="https://www.amazon.in/dp/B0BDHX8Z63/ref=QAHzEditorial_en_IN_1?pf_rd_r=F3Y83FZA9S0RH646J3XJ&pf_rd_p=1470d63c-0ec3-4032-880a-610a258def32&pf_rd_m=A1VBAL9TL5WCBF&pf_rd_s=merchandised-search-14&pf_rd_t=&pf_rd_i=1389401031&ie=UTF8&ref_=CLP_MH10_BSPremium_1" class="btn btn-danger">Shop now</a>
       </div>

       <div class="product-detail-card">
        <div class="product-detail-img">
          <a href="https://www.amazon.in/dp/B0C7V7VH6Q/ref=QAHzEditorial_en_IN_2?pf_rd_r=F3Y83FZA9S0RH646J3XJ&pf_rd_p=1470d63c-0ec3-4032-880a-610a258def32&pf_rd_m=A1VBAL9TL5WCBF&pf_rd_s=merchandised-search-14&pf_rd_t=&pf_rd_i=1389401031&ie=UTF8&ref_=CLP_MH10_BSPremium_2"> <img src="https://m.media-amazon.com/images/G/31/img23/Wireless/CatPage/Bestseller/Premium/25thJuly/D71695290_tile_2._CB600675429_.jpg" alt="" srcset=""></a>
        </div>
        <a href="https://www.amazon.in/dp/B0C7V7VH6Q/ref=QAHzEditorial_en_IN_2?pf_rd_r=F3Y83FZA9S0RH646J3XJ&pf_rd_p=1470d63c-0ec3-4032-880a-610a258def32&pf_rd_m=A1VBAL9TL5WCBF&pf_rd_s=merchandised-search-14&pf_rd_t=&pf_rd_i=1389401031&ie=UTF8&ref_=CLP_MH10_BSPremium_2" class="btn btn-danger">Shop now</a>
     </div>

     <div class="product-detail-card">
      <div class="product-detail-img">
        <a href="https://www.amazon.in/dp/B07WGNJF9L/ref=QAHzEditorial_en_IN_3?pf_rd_r=F3Y83FZA9S0RH646J3XJ&pf_rd_p=1470d63c-0ec3-4032-880a-610a258def32&pf_rd_m=A1VBAL9TL5WCBF&pf_rd_s=merchandised-search-14&pf_rd_t=&pf_rd_i=1389401031&ie=UTF8&ref_=CLP_MH10_BSPremium_3"> <img src="https://m.media-amazon.com/images/G/31/img23/Wireless/CatPage/Bestseller/Premium/25thJuly/D71695290_tile_3._CB600675429_.jpg" alt="" srcset=""></a>
      </div>
      <a href="https://www.amazon.in/dp/B07WGNJF9L/ref=QAHzEditorial_en_IN_3?pf_rd_r=F3Y83FZA9S0RH646J3XJ&pf_rd_p=1470d63c-0ec3-4032-880a-610a258def32&pf_rd_m=A1VBAL9TL5WCBF&pf_rd_s=merchandised-search-14&pf_rd_t=&pf_rd_i=1389401031&ie=UTF8&ref_=CLP_MH10_BSPremium_3" class="btn btn-danger">Shop now</a>
   </div>
   <div class="product-detail-card">
    <div class="product-detail-img">
      <a href="https://www.amazon.in/dp/B0BQJLVSC2/ref=QAHzEditorial_en_IN_4?pf_rd_r=F3Y83FZA9S0RH646J3XJ&pf_rd_p=1470d63c-0ec3-4032-880a-610a258def32&pf_rd_m=A1VBAL9TL5WCBF&pf_rd_s=merchandised-search-14&pf_rd_t=&pf_rd_i=1389401031&ie=UTF8&ref_=CLP_MH10_BSPremium_4"> <img src="https://m.media-amazon.com/images/G/31/img23/Wireless/CatPage/Bestseller/Premium/25thJuly/D71695290_tile_4._CB600675429_.jpg" alt="" srcset=""></a>
    </div>
    <a href="https://www.amazon.in/dp/B0BQJLVSC2/ref=QAHzEditorial_en_IN_4?pf_rd_r=F3Y83FZA9S0RH646J3XJ&pf_rd_p=1470d63c-0ec3-4032-880a-610a258def32&pf_rd_m=A1VBAL9TL5WCBF&pf_rd_s=merchandised-search-14&pf_rd_t=&pf_rd_i=1389401031&ie=UTF8&ref_=CLP_MH10_BSPremium_4" class="btn btn-danger">Shop now</a>
 </div>

 <div class="product-detail-card">
  <div class="product-detail-img">
    <a href="https://www.amazon.in/dp/B0C788T92F/ref=QAHzEditorial_en_IN_5?pf_rd_r=F3Y83FZA9S0RH646J3XJ&pf_rd_p=1470d63c-0ec3-4032-880a-610a258def32&pf_rd_m=A1VBAL9TL5WCBF&pf_rd_s=merchandised-search-14&pf_rd_t=&pf_rd_i=1389401031&ie=UTF8&ref_=CLP_MH10_BSPremium_5"> <img src="https://m.media-amazon.com/images/G/31/img23/Wireless/CatPage/Bestseller/Premium/25thJuly/D71695290_tile_5._CB600675429_.jpg" alt="" srcset=""></a>
  </div>
  <a href="https://www.amazon.in/dp/B0C788T92F/ref=QAHzEditorial_en_IN_5?pf_rd_r=F3Y83FZA9S0RH646J3XJ&pf_rd_p=1470d63c-0ec3-4032-880a-610a258def32&pf_rd_m=A1VBAL9TL5WCBF&pf_rd_s=merchandised-search-14&pf_rd_t=&pf_rd_i=1389401031&ie=UTF8&ref_=CLP_MH10_BSPremium_5" class="btn btn-danger">Shop now</a>
</div>
<div class="product-detail-card">
  <div class="product-detail-img">
    <a href="https://www.amazon.in/dp/B07WFNTGLL/ref=QAHzEditorial_en_IN_5?pf_rd_r=F3Y83FZA9S0RH646J3XJ&pf_rd_p=a30f0784-7553-4250-9294-1be3696a11d5&pf_rd_m=A1VBAL9TL5WCBF&pf_rd_s=merchandised-search-12&pf_rd_t=&pf_rd_i=1389401031&ie=UTF8&ref_=CLP_MH9_BSMidrange_5"> <img src="https://m.media-amazon.com/images/G/31/img23/Wireless/CatPage/Bestseller/Midrange/25thJul/D71695290_tile_5._CB600676179_.jpg" alt="" srcset=""></a>
  </div>
  <a href="https://www.amazon.in/dp/B07WFNTGLL/ref=QAHzEditorial_en_IN_5?pf_rd_r=F3Y83FZA9S0RH646J3XJ&pf_rd_p=a30f0784-7553-4250-9294-1be3696a11d5&pf_rd_m=A1VBAL9TL5WCBF&pf_rd_s=merchandised-search-12&pf_rd_t=&pf_rd_i=1389401031&ie=UTF8&ref_=CLP_MH9_BSMidrange_5" class="btn btn-danger">Shop now</a>
</div>
    </div>
  </div>
</section> 



<section class="section-3">
  <div class="section-3-container">
    <h3 style="color:black;">Top Deals Of The Week </h3>
    <div class="product-detail-cards">
       <div class="product-detail-card">
          <div class="product-detail-img">
            <a href="https://www.amazon.in/gp/product/B0C7V7VH6Q/ref=s9_acss_bw_cg_Budget_6a1_w?pf_rd_m=A1K21FY43GMZF8&pf_rd_s=merchandised-search-11&pf_rd_r=F3Y83FZA9S0RH646J3XJ&pf_rd_t=101&pf_rd_p=2197265a-a0a5-4c3d-9bef-0e5180007bed&pf_rd_i=1389401031"> <img src="https://images-eu.ssl-images-amazon.com/images/G/31/img23/Wireless/nbshagun/OP18July/xcm_banners_2022_in_bau_wireless_dec_580x800_once3l_v-q1q4m_580x800_in-en.jpg" alt="" srcset=""></a>
          </div>
       </div>

       <div class="product-detail-card">
        <div class="product-detail-img">
         <a href="https://www.amazon.in/gp/product/B0BQJLCQD3/ref=s9_acss_bw_cg_Budget_6b1_w?pf_rd_m=A1K21FY43GMZF8&pf_rd_s=merchandised-search-11&pf_rd_r=0GQ5XHYXSEYJHZB4G5BR&pf_rd_t=101&pf_rd_p=2197265a-a0a5-4c3d-9bef-0e5180007bed&pf_rd_i=1389401031"><img src="https://images-eu.ssl-images-amazon.com/images/G/31/img23/Wireless/nbshagun/op7july/xcm_banners_2022_in_bau_wireless_dec_580x800_op11_j7_580x800_in-en.jpg" alt="" srcset=""></a>
        </div>
     </div>

     <div class="product-detail-card">
      <div class="product-detail-img">
       <a href="https://images-eu.ssl-images-amazon.com/images/G/31/img23/Wireless/nbshagun/op7july/xcm_banners_2022_in_bau_wireless_dec_580x800_op11_j7_580x800_in-en.jpg"><img src="https://images-eu.ssl-images-amazon.com/images/G/31/img23/Wireless/nbshagun/realme/xcm_banners_2022_in_bau_wireless_dec_580x800_v1-50-new-bey9p-cmqnew-woom0-cyuq9_580x800_in-en.jpg" alt="" srcset=""></a>
      </div>
   </div>

   <div class="product-detail-card">
    <div class="product-detail-img">
     <a href="https://images-eu.ssl-images-amazon.com/images/G/31/img23/Wireless/nbshagun/realme/xcm_banners_2022_in_bau_wireless_dec_580x800_v1-50-new-bey9p-cmqnew-woom0-cyuq9_580x800_in-en.jpg"><img src="https://images-eu.ssl-images-amazon.com/images/G/31/img23/Wireless/Samsung/xcm_banners_m14_5g_rv2-1-m34_580x800_in-en.jpg" alt="" srcset=""></a>
    </div>
 </div>
 <div class="product-detail-card">
  <div class="product-detail-img">
   <a href="https://images-eu.ssl-images-amazon.com/images/G/31/img23/Wireless/Samsung/xcm_banners_m14_5g_rv2-1-m34_580x800_in-en.jpg"><img src="https://images-eu.ssl-images-amazon.com/images/G/31/img23/Wireless/Samsung/xcm_banners_m14_5g_rv2-1-m34_580x800_in-en.jpg" alt="" srcset=""></a>
  </div>
</div>
<div class="product-detail-card">
  <div class="product-detail-img">
   <a href="https://images-eu.ssl-images-amazon.com/images/G/31/img23/Wireless/Samsung/xcm_banners_m14_5g_rv2-1-m34_580x800_in-en.jpg"><img src="https://images-eu.ssl-images-amazon.com/images/G/31/img23/Wireless/Xiaomi/BSK/27thJuly/xcm_banners_2022_in_bau_wireless12cnew-1-do-h-june1223_580x800_in-en.jpg" alt="" srcset=""></a>
  </div>
</div>
    </div>
  </div>
</section> 
<section class="section-3">
  <div class="section-3-container">
    <div class="product-detail-cards">
       <div class="product-detail-card">
          <div class="product-detail-img">
            <a href="https://www.amazon.in/gp/product/B07WFNTGLL/ref=s9_acss_bw_cg_Budget_7a1_w?pf_rd_m=A1K21FY43GMZF8&pf_rd_s=merchandised-search-11&pf_rd_r=F3Y83FZA9S0RH646J3XJ&pf_rd_t=101&pf_rd_p=2197265a-a0a5-4c3d-9bef-0e5180007bed&pf_rd_i=1389401031"> <img src="https://images-eu.ssl-images-amazon.com/images/G/31/img22/Wireless/tiyesum/iQOOquestDays/24July/Bannerspack/xcm_banners_2022_in_bau_wireless_dec_580x800_v1-f2cu0-71kvf-e22z6-pxo6l_580x800_in-en.jpg" alt="" srcset=""></a>
          </div>
       </div>

       <div class="product-detail-card">
        <div class="product-detail-img">
          <a href="https://www.amazon.in/gp/product/B09WQYFLRX/ref=s9_acss_bw_cg_Budget_7b1_w?pf_rd_m=A1K21FY43GMZF8&pf_rd_s=merchandised-search-11&pf_rd_r=F3Y83FZA9S0RH646J3XJ&pf_rd_t=101&pf_rd_p=2197265a-a0a5-4c3d-9bef-0e5180007bed&pf_rd_i=1389401031"> <img src="https://images-eu.ssl-images-amazon.com/images/G/31/img23/Wireless/nbshagun/op7july/xcm_banners_2022_in_bau_wireless_580x800_nordce2lite_j7_580x800_in-en.jpg" alt="" srcset=""></a>
        </div>
     </div>

     <div class="product-detail-card">
      <div class="product-detail-img">
        <a href="https://www.amazon.in/gp/product/B0BBM78DMV/ref=s9_acss_bw_cg_Budget_7c1_w?pf_rd_m=A1K21FY43GMZF8&pf_rd_s=merchandised-search-11&pf_rd_r=F3Y83FZA9S0RH646J3XJ&pf_rd_t=101&pf_rd_p=2197265a-a0a5-4c3d-9bef-0e5180007bed&pf_rd_i=1389401031"> <img src="https://images-eu.ssl-images-amazon.com/images/G/31/img23/Wireless/nbshagun/realme/xcm_banners_2022_in_bau_wireless_dec_580x800_v1-50-new-bey9p-cmq32123123-cvkv4_580x800_in-en.jpg" alt="" srcset=""></a>
      </div>
   </div>

   <div class="product-detail-card">
    <div class="product-detail-img">
      <a href="https://www.amazon.in/gp/product/B0BMGB2TPR/ref=s9_acss_bw_cg_Budget_7d1_w?pf_rd_m=A1K21FY43GMZF8&pf_rd_s=merchandised-search-11&pf_rd_r=F3Y83FZA9S0RH646J3XJ&pf_rd_t=101&pf_rd_p=2197265a-a0a5-4c3d-9bef-0e5180007bed&pf_rd_i=1389401031"> <img src="https://images-eu.ssl-images-amazon.com/images/G/31/img21/Wireless/tsabikhi/Tecno-tiles/xcm_banners_2022_in_bau_wireless_dec_111_580x800_in-en.jpg" alt="" srcset=""></a>
    </div>
 </div>
 <div class="product-detail-card">
  <div class="product-detail-img">
    <a href="https://www.amazon.in/gp/product/B0BSNQ2KXF/ref=s9_acss_bw_cg_Budget_7e1_w?pf_rd_m=A1K21FY43GMZF8&pf_rd_s=merchandised-search-11&pf_rd_r=F3Y83FZA9S0RH646J3XJ&pf_rd_t=101&pf_rd_p=2197265a-a0a5-4c3d-9bef-0e5180007bed&pf_rd_i=1389401031"> <img src="https://images-eu.ssl-images-amazon.com/images/G/31/img23/Wireless/nbshagun/op7july/xcm_banners_2022_in_bau_wireless_dec_580x800_op11rj7_580x800_in-en.jpg" alt="" srcset=""></a>
  </div>
</div>
<div class="product-detail-card">
  <div class="product-detail-img">
    <a href="https://www.amazon.in/gp/product/B0C6B25FQ3/ref=s9_acss_bw_cg_Budget_7f1_w?pf_rd_m=A1K21FY43GMZF8&pf_rd_s=merchandised-search-11&pf_rd_r=F3Y83FZA9S0RH646J3XJ&pf_rd_t=101&pf_rd_p=2197265a-a0a5-4c3d-9bef-0e5180007bed&pf_rd_i=1389401031"> <img src="https://images-eu.ssl-images-amazon.com/images/G/31/wireless_products/devjyosx/dev_new_wireframe/xcm_banners_2022_in_bau_wireless_dec_580x800_spdark912-zsaspxvrfgfy3n9_580x800_in-en.jpg" alt="" srcset=""></a>
  </div>
</div>
    </div>
  </div>
</section> 
<section class="section-3">
  <div class="section-3-container">
    <h3 style="color: black;">Budget SmartPhones </h3>
    <div class="product-detail-cards">
       <div class="product-detail-card">
          <div class="product-detail-img">
            <a href="https://www.amazon.in/gp/product/B0C46H59YD/ref=s9_acss_bw_cg_Budget_2a1_w?pf_rd_m=A1K21FY43GMZF8&pf_rd_s=merchandised-search-17&pf_rd_r=F3Y83FZA9S0RH646J3XJ&pf_rd_t=101&pf_rd_p=bb161fb7-91cc-4d79-87cf-fb93970e0ce8&pf_rd_i=1389401031"> <img src="https://images-eu.ssl-images-amazon.com/images/G/31/img23/Wireless/Xiaomi/BSK/24July/xcm_banners_2022_in_bau_wireless_dec_580xmj0-redmi-a2_v2_580x800_in-en.jpg" alt="" srcset=""></a>
          </div>
       </div>

       <div class="product-detail-card">
        <div class="product-detail-img">
          <a href="https://www.amazon.in/gp/product/B0BYN34PGJ/ref=s9_acss_bw_cg_Budget_2b1_w?pf_rd_m=A1K21FY43GMZF8&pf_rd_s=merchandised-search-17&pf_rd_r=F3Y83FZA9S0RH646J3XJ&pf_rd_t=101&pf_rd_p=bb161fb7-91cc-4d79-87cf-fb93970e0ce8&pf_rd_i=1389401031"> <img src="https://images-eu.ssl-images-amazon.com/images/G/31/img23/Wireless/Xiaomi/BSK/27thJuly/xcm_banners_2022_in_bau_wireless_dec_11tpro11-1-0fjf3hhh-1_580x800_in-en.jpg" alt="" srcset=""></a>
        </div>
     </div>

     <div class="product-detail-card">
      <div class="product-detail-img">
        <a href="https://www.amazon.in/gp/product/B0BBH3Y6WM/ref=s9_acss_bw_cg_Budget_2c1_w?pf_rd_m=A1K21FY43GMZF8&pf_rd_s=merchandised-search-17&pf_rd_r=F3Y83FZA9S0RH646J3XJ&pf_rd_t=101&pf_rd_p=bb161fb7-91cc-4d79-87cf-fb93970e0ce8&pf_rd_i=1389401031"> <img src="https://images-eu.ssl-images-amazon.com/images/G/31/img23/Wireless/Xiaomi/CatPage/May/xcm_banners_2022_in_bau_wireless_dec_580x80n0_v2-0fjkjnc8-rcjqc1-mkm-updated-nt3z8-7nj9o_580x800_in-en.jpg" alt="" srcset=""></a>
      </div>
   </div>

   <div class="product-detail-card">
    <div class="product-detail-img">
      <a href="https://www.amazon.in/gp/product/B09FKDB27R/ref=s9_acss_bw_cg_Budget_2d1_w?pf_rd_m=A1K21FY43GMZF8&pf_rd_s=merchandised-search-17&pf_rd_r=F3Y83FZA9S0RH646J3XJ&pf_rd_t=101&pf_rd_p=bb161fb7-91cc-4d79-87cf-fb93970e0ce8&pf_rd_i=1389401031"> <img src="https://images-eu.ssl-images-amazon.com/images/G/31/tiyesum/N55/July/xcm_banners_2022_in_bau_wireless_feb_580x800_v2-50i-newmarch-vq693-dfpj1123-v4july_580x800_in-en.jpg" alt="" srcset=""></a>
    </div>
 </div>
 <div class="product-detail-card">
  <div class="product-detail-img">
    <a href="https://www.amazon.in/gp/product/B09RMN7HY3/ref=s9_acss_bw_cg_Budget_2e1_w?pf_rd_m=A1K21FY43GMZF8&pf_rd_s=merchandised-search-17&pf_rd_r=F3Y83FZA9S0RH646J3XJ&pf_rd_t=101&pf_rd_p=bb161fb7-91cc-4d79-87cf-fb93970e0ce8&pf_rd_i=1389401031"> <img src="https://images-eu.ssl-images-amazon.com/images/G/31/tiyesum/N55/July/xcm_banners_2022_in_bau_wireless_feb_580x800_v2-50-4g-new-9op4v123-v4july_580x800_in-en.jpg" alt="" srcset=""></a>
  </div>
</div>
<div class="product-detail-card">
  <div class="product-detail-img">
    <a href="https://www.amazon.in/gp/product/B0C53YWZ7R/ref=s9_acss_bw_cg_Budget_2f1_w?pf_rd_m=A1K21FY43GMZF8&pf_rd_s=merchandised-search-17&pf_rd_r=F3Y83FZA9S0RH646J3XJ&pf_rd_t=101&pf_rd_p=bb161fb7-91cc-4d79-87cf-fb93970e0ce8&pf_rd_i=1389401031"> <img src="https://images-eu.ssl-images-amazon.com/images/G/31/img23/Wireless/Xiaomi/CatPage/July/3July/xcm_banners_2022_in_bau_wireless_dec_580x800-redmia2-_580x800_in-en.jpg" alt="" srcset=""></a>
  </div>
</div>
    </div>
  </div>
</section> 

<section class="section-3">
  <div class="section-3-container">
    <div class="product-detail-cards">
       <div class="product-detail-card">
          <div class="product-detail-img">
            <a href="https://www.amazon.in/gp/product/B0BW5QRCPG/ref=s9_acss_bw_cg_Budget_4a1_w?pf_rd_m=A1K21FY43GMZF8&pf_rd_s=merchandised-search-17&pf_rd_r=F3Y83FZA9S0RH646J3XJ&pf_rd_t=101&pf_rd_p=bb161fb7-91cc-4d79-87cf-fb93970e0ce8&pf_rd_i=1389401031"> <img src="https://images-eu.ssl-images-amazon.com/images/G/31/wireless_products/devjyosx/dev_new_wireframe/xcm_banners_2022_in_bau_wireless_sdec_580x800_spjjjomax-a-xp6_prdfcwcos-9jeu71i-m8bb00_580x800_in-en.jpg" alt="" srcset=""></a>
          </div>
       </div>

       <div class="product-detail-card">
        <div class="product-detail-img">
          <a href="https://images-eu.ssl-images-amazon.com/images/G/31/wireless_products/devjyosx/dev_new_wireframe/xcm_banners_2022_in_bau_wireless_sdec_580x800_spjjjomax-a-xp6_prdfcwcos-9jeu71i-m8bb00_580x800_in-en.jpg"> <img src="https://images-eu.ssl-images-amazon.com/images/G/31/wireless_products/devjyosx/dev_new_wireframe/xcm_banners_2022_in_bau_wireless_dec_580x800_s1psadrk8pro-sdcvsdc_580x800_in-en.jpg" alt="" srcset=""></a>
        </div>
     </div>

     <div class="product-detail-card">
      <div class="product-detail-img">
        <a href="https://www.amazon.in/gp/product/B0BSTTK7HS/ref=s9_acss_bw_cg_Budget_4c1_w?pf_rd_m=A1K21FY43GMZF8&pf_rd_s=merchandised-search-17&pf_rd_r=FXRYXA6R166WJ1KYE1GM&pf_rd_t=101&pf_rd_p=bb161fb7-91cc-4d79-87cf-fb93970e0ce8&pf_rd_i=1389401031"> <img src="https://images-eu.ssl-images-amazon.com/images/G/31/wireless_products/devjyosx/dev_new_wireframe/xcm_banners_2022_in_bau_wireless_dec_580x800_ovppo_a74-rev-ecm55_580x800_in-en.jpg" alt="" srcset=""></a>
      </div>
   </div>

   <div class="product-detail-card">
    <div class="product-detail-img">
      <a href="https://www.amazon.in/gp/product/B0BSTTK7HS/ref=s9_acss_bw_cg_Budget_4c1_w?pf_rd_m=A1K21FY43GMZF8&pf_rd_s=merchandised-search-17&pf_rd_r=F3Y83FZA9S0RH646J3XJ&pf_rd_t=101&pf_rd_p=bb161fb7-91cc-4d79-87cf-fb93970e0ce8&pf_rd_i=1389401031"> <img src="https://images-eu.ssl-images-amazon.com/images/G/31/wireless_products/devjyosx/dev_new_wireframe/xcm_banners_2022_in_bau_wireless_dec_580fx800_popn5let-xbmmm-z3vt2_580x800_in-en.jpg" alt="" srcset=""></a>
    </div>
 </div>
 <div class="product-detail-card">
  <div class="product-detail-img">
    <a href="https://www.amazon.in/gp/product/B0BSTTK7HS/ref=s9_acss_bw_cg_Budget_4c1_w?pf_rd_m=A1K21FY43GMZF8&pf_rd_s=merchandised-search-17&pf_rd_r=F3Y83FZA9S0RH646J3XJ&pf_rd_t=101&pf_rd_p=bb161fb7-91cc-4d79-87cf-fb93970e0ce8&pf_rd_i=1389401031"> <img src="https://images-eu.ssl-images-amazon.com/images/G/31/wireless_products/devjyosx/dev_new_wireframe/xcm_banners_2022_in_bau_wireleswws_dec_580x800_oppo_f21s-pro_sdc5g-euon7_580x800_in-en.jpg" alt="" srcset=""></a>
  </div>
</div>
<div class="product-detail-card">
  <div class="product-detail-img">
    <a href="https://www.amazon.in/gp/product/B0BSTTK7HS/ref=s9_acss_bw_cg_Budget_4c1_w?pf_rd_m=A1K21FY43GMZF8&pf_rd_s=merchandised-search-17&pf_rd_r=F3Y83FZA9S0RH646J3XJ&pf_rd_t=101&pf_rd_p=bb161fb7-91cc-4d79-87cf-fb93970e0ce8&pf_rd_i=1389401031"> <img src="https://images-eu.ssl-images-amazon.com/images/G/31/wireless_products/devjyosx/dev_new_wireframe/xcm_banners_2022_in_bau_wireless_dec_580x800_oppo_a17_r-9bt54_580x800_in-en.jpg" alt="" srcset=""></a>
  </div>
</div>
    </div>
  </div>
</section>

<section class="section-3">
  <div class="section-3-container">

    <div class="product-detail-cards">
       <div class="product-detail-card">
          <div class="product-detail-img">
            <a href="https://www.amazon.in/gp/product/B09FKDH6FS/ref=s9_acss_bw_cg_Budget_3a1_w?pf_rd_m=A1K21FY43GMZF8&pf_rd_s=merchandised-search-17&pf_rd_r=F3Y83FZA9S0RH646J3XJ&pf_rd_t=101&pf_rd_p=bb161fb7-91cc-4d79-87cf-fb93970e0ce8&pf_rd_i=1389401031"> <img src="https://images-eu.ssl-images-amazon.com/images/G/31/img21/Wireless/vinambia/realmetilesjune/xcm_banners_2022_in_bau_wireless_feb_580x800_v2-50i-new123_580x800_in-en.jpg" alt="" srcset=""></a>
          </div>
       </div>

       <div class="product-detail-card">
        <div class="product-detail-img">
          <a href="https://images-eu.ssl-images-amazon.com/images/G/31/img21/Wireless/vinambia/realmetilesjune/xcm_banners_2022_in_bau_wireless_feb_580x800_v2-50i-new123_580x800_in-en.jpg"> <img src="https://images-eu.ssl-images-amazon.com/images/G/31/img21/Wireless/vinambia/realmetilesjune/xcm_banners_2022_in_bau_wireless_feb_580x800_v2-50i-new123_580x800_in-en.jpg" alt="" srcset=""></a>
        </div>
     </div>

     <div class="product-detail-card">
      <div class="product-detail-img">
        <a href="https://www.amazon.in/gp/product/B0C8W9727Z/ref=s9_acss_bw_cg_Budget_3c1_w?pf_rd_m=A1K21FY43GMZF8&pf_rd_s=merchandised-search-17&pf_rd_r=F3Y83FZA9S0RH646J3XJ&pf_rd_t=101&pf_rd_p=bb161fb7-91cc-4d79-87cf-fb93970e0ce8&pf_rd_i=1389401031"> <img src="https://images-eu.ssl-images-amazon.com/images/G/31/wireless_products/devjyosx/dev_new_wireframe/xcm_banners_2022_in_bau_wireless_dec_580fx800_popn5let-xbmmmcvefv_580x800_in-en.jpg" alt="" srcset=""></a>
      </div>
   </div>

   <div class="product-detail-card">
    <div class="product-detail-img">
      <a href="https://images-eu.ssl-images-amazon.com/images/G/31/wireless_products/devjyosx/dev_new_wireframe/xcm_banners_2022_in_bau_wireless_dec_580fx800_popn5let-xbmmmcvefv_580x800_in-en.jpg"> <img src="https://images-eu.ssl-images-amazon.com/images/G/31/img23/Wireless/Xiaomi/CLP_tiles/19thjuly/xcm_banners_2022_in_bau_wireless_may-a1_580x800_in-en.jpg" alt="" srcset=""></a>
    </div>
 </div>
 <div class="product-detail-card">
  <div class="product-detail-img">
    <a href="https://www.amazon.in/gp/product/B09GFLFMPS/ref=s9_acss_bw_cg_Budget_3e1_w?pf_rd_m=A1K21FY43GMZF8&pf_rd_s=merchandised-search-17&pf_rd_r=F3Y83FZA9S0RH646J3XJ&pf_rd_t=101&pf_rd_p=bb161fb7-91cc-4d79-87cf-fb93970e0ce8&pf_rd_i=1389401031"> <img src="https://images-eu.ssl-images-amazon.com/images/G/31/img22/Wireless/Xiaomi/Redmi/CLP/Tiles/xcm_banners_2022_in_bau_wireless_dec_580x800_v2-0fnc8-757q9-9activ1-1_580x800_in-en.jpg" alt="" srcset=""></a>
  </div>
</div>
<div class="product-detail-card">
  <div class="product-detail-img">
    <a href="https://www.amazon.in/gp/product/B0B56YRDDT/ref=s9_acss_bw_cg_Budget_3f1_w?pf_rd_m=A1K21FY43GMZF8&pf_rd_s=merchandised-search-17&pf_rd_r=F3Y83FZA9S0RH646J3XJ&pf_rd_t=101&pf_rd_p=bb161fb7-91cc-4d79-87cf-fb93970e0ce8&pf_rd_i=1389401031"> <img src="https://images-eu.ssl-images-amazon.com/images/G/31/img21/Wireless/Shreyansh/MayART/Tile2/xcm_banners_2022_in_bsauddc_wireless_sec_580x800_speark9-ru5djabjo_580x800_in-en.jpg" alt="" srcset=""></a>
  </div>
</div>
    </div>
  </div>
</section>
<section class="section-3">
  <div class="section-3-container">
    <h3 style="color: black;">Midrange SmartPhones </h3>
    <div class="product-detail-cards">
       <div class="product-detail-card">
          <div class="product-detail-img">
            <a href="https://www.amazon.in/gp/product/B0BQ3PJJDQ/ref=s9_acss_bw_cg_Budget_7a1_w?pf_rd_m=A1K21FY43GMZF8&pf_rd_s=merchandised-search-17&pf_rd_r=FXRYXA6R166WJ1KYE1GM&pf_rd_t=101&pf_rd_p=bb161fb7-91cc-4d79-87cf-fb93970e0ce8&pf_rd_i=1389401031"> <img src="https://images-eu.ssl-images-amazon.com/images/G/31/img23/Wireless/Xiaomi/CatPage/June/V1/xcm_banners_2022_in_bau_wireless_jjdec_580x800_v2-k50i_580x800_in-en.jpg" alt="" srcset=""></a>
          </div>
       </div>

       <div class="product-detail-card">
        <div class="product-detail-img">
          <a href="https://www.amazon.in/gp/product/B0BBFJLP21/ref=s9_acss_bw_cg_Budget_7b1_w?pf_rd_m=A1K21FY43GMZF8&pf_rd_s=merchandised-search-17&pf_rd_r=FXRYXA6R166WJ1KYE1GM&pf_rd_t=101&pf_rd_p=bb161fb7-91cc-4d79-87cf-fb93970e0ce8&pf_rd_i=1389401031"> <img src="https://images-eu.ssl-images-amazon.com/images/G/31/img23/Wireless/Xiaomi/CLP_tiles/19thjuly/xcm_banners_ooih2022_in_bau_wireless_dec_580x800-mm-1-done-june_580x800_in-en.jpg" alt="" srcset=""></a>
        </div>
     </div>

     <div class="product-detail-card">
      <div class="product-detail-img">
        <a href="https://images-eu.ssl-images-amazon.com/images/G/31/img23/Wireless/Xiaomi/CLP_tiles/19thjuly/xcm_banners_ooih2022_in_bau_wireless_dec_580x800-mm-1-done-june_580x800_in-en.jpg"> <img src="https://images-eu.ssl-images-amazon.com/images/G/31/img23/Wireless/Xiaomi/CLP_tiles/19thjuly/xcm_banners_ooih2022_in_bau_wireless_dec_580x800-mm-1-done-june_580x800_in-en.jpg" alt="" srcset=""></a>
      </div>
   </div>

   <div class="product-detail-card">
    <div class="product-detail-img">
      <a href="https://www.amazon.in/gp/product/B07WHS7MZ4/ref=s9_acss_bw_cg_Budget_7d1_w?pf_rd_m=A1K21FY43GMZF8&pf_rd_s=merchandised-search-17&pf_rd_r=FXRYXA6R166WJ1KYE1GM&pf_rd_t=101&pf_rd_p=bb161fb7-91cc-4d79-87cf-fb93970e0ce8&pf_rd_i=1389401031"> <img src="https://images-eu.ssl-images-amazon.com/images/G/31/img22/Wireless/tiyesum/iQOOquestDays/24July/Bannerspack/xcm_banners_2022_in_bau_wireless_dec_580x800_v2-0fnc8-dtw2l-f805r-v2-t1mja-p3ya0-kejte_580x800_in-en.jpg" alt="" srcset=""></a>
    </div>
 </div>
 <div class="product-detail-card">
  <div class="product-detail-img">
    <a href="https://www.amazon.in/gp/product/B09TWDYSWQ/ref=s9_acss_bw_cg_Budget_7e1_w?pf_rd_m=A1K21FY43GMZF8&pf_rd_s=merchandised-search-17&pf_rd_r=FXRYXA6R166WJ1KYE1GM&pf_rd_t=101&pf_rd_p=bb161fb7-91cc-4d79-87cf-fb93970e0ce8&pf_rd_i=1389401031"> <img src="https://images-eu.ssl-images-amazon.com/images/G/31/img21/Wireless/tsabikhi/Tecno-tiles/xcm_banners_2022_in_bau_wireless_dec_580x800_m335g-r1_580x800_in-en.jpg" alt="" srcset=""></a>
  </div>
</div>
<div class="product-detail-card">
  <div class="product-detail-img">
    <a href="https://www.amazon.in/gp/product/B07WDKLM55/ref=s9_acss_bw_cg_Budget_7f1_w?pf_rd_m=A1K21FY43GMZF8&pf_rd_s=merchandised-search-17&pf_rd_r=FXRYXA6R166WJ1KYE1GM&pf_rd_t=101&pf_rd_p=bb161fb7-91cc-4d79-87cf-fb93970e0ce8&pf_rd_i=1389401031"> <img src="https://images-eu.ssl-images-amazon.com/images/G/31/tiyesum/iQOO9Pro/July/xcm_banners_2022_in_bau_wireless_dec_580x800_v2-0fnc8-dtw2l-f805r-v234-eypny-kqwd1-v5july_580x800_in-en.jpg" alt="" srcset=""></a>
  </div>
</div>
    </div>
  </div>
</section>
<section class="section-3">
  <div class="section-3-container">
    <div class="product-detail-cards">
       <div class="product-detail-card">
          <div class="product-detail-img">
            <a href="https://www.amazon.in/gp/product/B09CTY7TGF/ref=s9_acss_bw_cg_Budget_8a1_w?pf_rd_m=A1K21FY43GMZF8&pf_rd_s=merchandised-search-17&pf_rd_r=FXRYXA6R166WJ1KYE1GM&pf_rd_t=101&pf_rd_p=bb161fb7-91cc-4d79-87cf-fb93970e0ce8&pf_rd_i=1389401031"> <img src="https://images-eu.ssl-images-amazon.com/images/G/31/img23/Wireless/Xiaomi/CatPage/May/xcm_banners_2022_in_bau_wireless_dec_580x800_v2-10prime_580x800_in-en.jpg" alt="" srcset=""></a>
          </div>
       </div>

       <div class="product-detail-card">
        <div class="product-detail-img">
          <a href="https://www.amazon.in/gp/product/B09WRMNJ9G/ref=s9_acss_bw_cg_Budget_8b1_w?pf_rd_m=A1K21FY43GMZF8&pf_rd_s=merchandised-search-17&pf_rd_r=FXRYXA6R166WJ1KYE1GM&pf_rd_t=101&pf_rd_p=bb161fb7-91cc-4d79-87cf-fb93970e0ce8&pf_rd_i=1389401031"> <img src="https://images-eu.ssl-images-amazon.com/images/G/31/img23/Wireless/nbshagun/op7july/xcm_banners_2022_in_bau_wireless_dec_580x800-10r-j7_580x800_in-en.jpg" alt="" srcset=""></a>
        </div>
     </div>

     <div class="product-detail-card">
      <div class="product-detail-img">
        <a href="https://images-eu.ssl-images-amazon.com/images/G/31/img23/Wireless/nbshagun/op7july/xcm_banners_2022_in_bau_wireless_dec_580x800-10r-j7_580x800_in-en.jpg"> <img src="https://images-eu.ssl-images-amazon.com/images/G/31/img23/Wireless/Xiaomi/CatPage/July/18thjuly/xcm_banners_2022_in_bau_wirmmlmleless_11-886wv_580x800_in-en.jpg" alt="" srcset=""></a>
      </div>
   </div>

   <div class="product-detail-card">
    <div class="product-detail-img">
      <a href="https://www.amazon.in/gp/product/B082DSTWZ1/ref=s9_acss_bw_cg_Budget_8d1_w?pf_rd_m=A1K21FY43GMZF8&pf_rd_s=merchandised-search-17&pf_rd_r=FXRYXA6R166WJ1KYE1GM&pf_rd_t=101&pf_rd_p=bb161fb7-91cc-4d79-87cf-fb93970e0ce8&pf_rd_i=1389401031"> <img src="https://images-eu.ssl-images-amazon.com/images/G/31/wireless_products/devjyosx/dev_new_wireframe/xcm_banners_2022_in_bau_wireless_dec_580x800_oppo_f23_580x800_in-en.jpg" alt="" srcset=""></a>
    </div>
 </div>
 <div class="product-detail-card">
  <div class="product-detail-img">
    <a href="https://www.amazon.in/gp/product/B082F2T5PQ/ref=s9_acss_bw_cg_Budget_8e1_w?pf_rd_m=A1K21FY43GMZF8&pf_rd_s=merchandised-search-17&pf_rd_r=FXRYXA6R166WJ1KYE1GM&pf_rd_t=101&pf_rd_p=bb161fb7-91cc-4d79-87cf-fb93970e0ce8&pf_rd_i=1389401031"> <img src="https://images-eu.ssl-images-amazon.com/images/G/31/wireless_products/devjyosx/dev_new_wireframe/xcm_banners_2022_in_bau_wireless_dec_580x800_oppo_a78_5g_rev-8jj5n_580x800_in-en.jpg" alt="" srcset=""></a>
  </div>
</div>
<div class="product-detail-card">
  <div class="product-detail-img">
    <a href="https://www.amazon.in/gp/product/B09ZBFNJ2X/ref=s9_acss_bw_cg_Budget_8f1_w?pf_rd_m=A1K21FY43GMZF8&pf_rd_s=merchandised-search-17&pf_rd_r=FXRYXA6R166WJ1KYE1GM&pf_rd_t=101&pf_rd_p=bb161fb7-91cc-4d79-87cf-fb93970e0ce8&pf_rd_i=1389401031"> <img src="https://images-eu.ssl-images-amazon.com/images/G/31/img23/Wireless/nbshagun/realme17July/xcm_banners_2022_in_bau_wireless_feb_580x800_v2-50prorealme50pro-new-1-1-tsf35-q8vez_580x800_in-en.jpg" alt="" srcset=""></a>
  </div>
</div>
    </div>
  </div>
</section>

<section class="section-3">
  <div class="section-3-container">
    <div class="product-detail-cards">
       <div class="product-detail-card">
          <div class="product-detail-img">
            <a href="https://www.amazon.in/gp/product/B0B56XYXLS/ref=s9_acss_bw_cg_Budget_9a1_w?pf_rd_m=A1K21FY43GMZF8&pf_rd_s=merchandised-search-17&pf_rd_r=FXRYXA6R166WJ1KYE1GM&pf_rd_t=101&pf_rd_p=bb161fb7-91cc-4d79-87cf-fb93970e0ce8&pf_rd_i=1389401031"> <img src="https://images-eu.ssl-images-amazon.com/images/G/31/img21/Wireless/tsabikhi/Tecno-tiles/xcm_banners_2022_in_bau_wireless_dec_580x800-camon19neo_580x800_in-en.jpg" alt="" srcset=""></a>
          </div>
       </div>

       <div class="product-detail-card">
        <div class="product-detail-img">
          <a href="https://www.amazon.in/gp/product/B0C5M332MP/ref=s9_acss_bw_cg_Budget_9b1_w?pf_rd_m=A1K21FY43GMZF8&pf_rd_s=merchandised-search-17&pf_rd_r=FXRYXA6R166WJ1KYE1GM&pf_rd_t=101&pf_rd_p=bb161fb7-91cc-4d79-87cf-fb93970e0ce8&pf_rd_i=1389401031"> <img src="https://images-eu.ssl-images-amazon.com/images/G/31/wireless_products/devjyosx/dev_new_wireframe/xcm_banners_2022_in_bau_wirseless_dec_580x800_povdda3-obwef2kr-p_580x800_in-en.jpg" alt="" srcset=""></a>
        </div>
     </div>

     <div class="product-detail-card">
      <div class="product-detail-img">
        <a href="https://www.amazon.in/gp/product/B0B4F2TTTS/ref=s9_acss_bw_cg_Budget_9c1_w?pf_rd_m=A1K21FY43GMZF8&pf_rd_s=merchandised-search-17&pf_rd_r=FXRYXA6R166WJ1KYE1GM&pf_rd_t=101&pf_rd_p=bb161fb7-91cc-4d79-87cf-fb93970e0ce8&pf_rd_i=1389401031"> <img src="https://images-eu.ssl-images-amazon.com/images/G/31/img23/Wireless/Samsung/580x800_M13.jpg" alt="" srcset=""></a>
      </div>
   </div>

   <div class="product-detail-card">
    <div class="product-detail-img">
      <a href="https://www.amazon.in/gp/product/B09ZBF5Y4J/ref=s9_acss_bw_cg_Budget_9d1_w?pf_rd_m=A1K21FY43GMZF8&pf_rd_s=merchandised-search-17&pf_rd_r=CJR5A7QPFDHQX77T1FYY&pf_rd_t=101&pf_rd_p=bb161fb7-91cc-4d79-87cf-fb93970e0ce8&pf_rd_i=1389401031"> <img src="https://images-eu.ssl-images-amazon.com/images/G/31/tiyesum/N55/July/xcm_banners_2022_in_bau_wireless_feb_580x800_v2-50i-newmarch-vq693-6jjfw-v3june123-v4july_580x800_in-en.jpg" alt="" srcset=""></a>
    </div>
 </div>
 <div class="product-detail-card">
  <div class="product-detail-img">
    <a href="https://www.amazon.in/gp/product/B0C7KL7RHR/ref=s9_acss_bw_cg_Budget_9e1_w?pf_rd_m=A1K21FY43GMZF8&pf_rd_s=merchandised-search-17&pf_rd_r=CJR5A7QPFDHQX77T1FYY&pf_rd_t=101&pf_rd_p=bb161fb7-91cc-4d79-87cf-fb93970e0ce8&pf_rd_i=1389401031"> <img src="https://images-eu.ssl-images-amazon.com/images/G/31/img21/Wireless/tsabikhi/Tecno-Camon20/xcm_banners_2022_in_basu_wscirelesees_dec_508s0x800_spark101_580x800_in-en.jpg" alt="" srcset=""></a>
  </div>
</div>
<div class="product-detail-card">
  <div class="product-detail-img">
    <a href="https://www.amazon.in/gp/product/B082FY6S2Y/ref=s9_acss_bw_cg_Budget_9f1_w?pf_rd_m=A1K21FY43GMZF8&pf_rd_s=merchandised-search-17&pf_rd_r=CJR5A7QPFDHQX77T1FYY&pf_rd_t=101&pf_rd_p=bb161fb7-91cc-4d79-87cf-fb93970e0ce8&pf_rd_i=1389401031"> <img src="https://images-eu.ssl-images-amazon.com/images/G/31/wireless_products/devjyosx/dev_new_wireframe/xcm_banners_2022_in_bau_wireless_dec_580x800_oppo_a77s_revised_580x800_in-en.jpg" alt="" srcset=""></a>
  </div>
</div>
    </div>
  </div>
</section>

<!-- Footer -->
<footer
class="text-center text-lg-start text-white"
style="background-color:rgb(138, 137, 134)"
>
<div class="foot-panel">
  Back to Top
</div>
<!-- Grid container -->
<div class="container p-4 pb-0">
<!-- Section: Links -->
<section class="">
<!--Grid row-->
<div class="row">
<!-- Grid column -->
<div class="col-md-3 col-lg-3 col-xl-3 mx-auto mt-3">
  <h6 class="text-uppercase mb-4 font-weight-bold">
    Company name
  </h6>
  <p>
    Here you can use rows and columns to organize your footer
    content. Lorem ipsum dolor sit amet, consectetur adipisicing
    elit.
  </p>
</div>
<!-- Grid column -->

<hr class="w-100 clearfix d-md-none" />

<!-- Grid column -->
<div class="col-md-2 col-lg-2 col-xl-2 mx-auto mt-3">
  <h6 class="text-uppercase mb-4 font-weight-bold">Products</h6>
  <p>
    <a class="text-white">All Brands</a>
  </p>
  <p>
    <a class="text-white">Free Movies</a>
  </p>
  <p>
    <a class="text-white">Friendly Shopping</a>
  </p>
  <p>
    <a class="text-white">NVN $ TIRU</a>
  </p>
</div>
<!-- Grid column -->

<hr class="w-100 clearfix d-md-none" />

<!-- Grid column -->
<hr class="w-100 clearfix d-md-none" />

<!-- Grid column -->
<div class="col-md-4 col-lg-3 col-xl-3 mx-auto mt-3">
  <h6 class="text-uppercase mb-4 font-weight-bold">Contact</h6>
  <p><i class="fas fa-home mr-3"></i> New York, NY 10012, US</p>
  <p><i class="fas fa-envelope mr-3"></i> info@gmail.com</p>
  <p><i class="fas fa-phone mr-3"></i> + 01 234 567 88</p>
  <p><i class="fas fa-print mr-3"></i> + 01 234 567 89</p>
</div>
<!-- Grid column -->

<!-- Grid column -->
<div class="col-md-3 col-lg-2 col-xl-2 mx-auto mt-3">
  <h6 class="text-uppercase mb-4 font-weight-bold">Follow us</h6>

  <!-- Facebook -->
  <a
     class="btn btn-primary btn-floating m-1"
     style="background-color: #3b5998"
     href="#!"
     role="button"
     ><i class="fab fa-facebook-f"></i
    ></a>

  <!-- Twitter -->
  <a
     class="btn btn-primary btn-floating m-1"
     style="background-color: #55acee"
     href="#!"
     role="button"
     ><i class="fab fa-twitter"></i
    ></a>

  <!-- Google -->
  <a
     class="btn btn-primary btn-floating m-1"
     style="background-color: #dd4b39"
     href="#!"
     role="button"
     ><i class="fab fa-google"></i
    ></a>

  <!-- Instagram -->
  <a
     class="btn btn-primary btn-floating m-1"
     style="background-color: #ac2bac"
     href="#!"
     role="button"
     ><i class="fab fa-instagram"></i
    ></a>

  <!-- Linkedin -->
  <a
     class="btn btn-primary btn-floating m-1"
     style="background-color: #0082ca"
     href="#!"
     role="button"
     ><i class="fab fa-linkedin-in"></i
    ></a>
  <!-- Github -->
  <a
     class="btn btn-primary btn-floating m-1"
     style="background-color: #333333"
     href="#!"
     role="button"
     ><i class="fab fa-github"></i
    ></a>
</div>
</div>
<!--Grid row-->
</section>
<!-- Section: Links -->
</div>
<!-- Grid container -->

<!-- Copyright -->
<div
class="text-center p-3"
style="background-color: rgba(0, 0, 0, 0.2)"
>
© 2023 Copyright:
<a class="text-white" href=""
>Friendly Shopping.com</a
>
</div>
<!-- Copyright -->
</footer>
<!-- Footer -->


<style>
  .section-3
  {
    background-color: ghostwhite;
  }
  .section-3 .section-3-container
  {
  
    display: flex;
    flex-direction: column;
    padding: 20px;
  }
  .section-3 .section-3-container .product-detail-cards
  {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    
    flex-wrap: nowrap;
    overflow: auto;
  }
  .section-3 .section-3-container .product-detail-cards
  .product-detail-card
  {
    display: inline-block;
    width: 250px !important;
    flex: 0 0 auto;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
  }
  .section-3 .section-3-container .product-detail-cards
  .product-detail-card .product-detail-img img
  {
    width:200px;
    height:350px;
    max-width:200px;
    max-height: 350px;
  }
  .btn-danger
  {
    margin-left: 40px;
  }
  
  footer
        {
          margin-top: 55px;

        }
        .foot-panel        
        {
          
          background-color: #37475a;
          color: ghostwhite;
          height:50px;
          display: flex;
          justify-content: center;
          align-items: center;
          font-size: 0.85rem;
          margin-top: -50px;
        } 
        
       

</style>

{% endblock %}