{% extends 'Friendly_Tv.html' %}
{% load static %}

{% block title %}
 <title>short_Films</title>
{% endblock %}

{% block body_block %}
<div id="carouselExampleInterval" class="carousel slide" data-mdb-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active" data-mdb-interval="10000">
        <img src="{% static 'images/dev14.png' %}" class="d-block w-100" alt="Wild Landscape" height="300px"/>
      </div>
      <div class="carousel-item" data-mdb-interval="2000">
        <img src="{% static 'images/dev15.png' %}" class="d-block w-100" alt="Camera"  height="300px"/>
      </div>
      <div class="carousel-item">
        <img src="{% static 'images/dev16.png' %}" class="d-block w-100" alt="Exotic Fruits"  height="300px"/>
      </div>
      <div class="carousel-item">
        <img src="{% static 'images/dev17.png' %}" class="d-block w-100" alt="Exotic Fruits"  height="300px"/>
      </div>
      <div class="carousel-item">
        <img src="{% static 'images/st6.jpg' %}" class="d-block w-100" alt="Exotic Fruits"  height="300px"/>
      </div>
    </div>
    <button class="carousel-control-prev" data-mdb-target="#carouselExampleInterval" type="button" data-mdb-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" data-mdb-target="#carouselExampleInterval" type="button" data-mdb-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>



<div id="mini_tv">
    <h5 style="text-align:left;">Top 10 shows on Friendly_miniTV</h5>
     <table>
     <tr>
        <td> <a href="https://www.amazon.in/minitv/tp/68c8b283-8cd6-4140-a497-66a5a20ffe34"><img src="https://m.media-amazon.com/images/S/pv-target-images/174c1b78f7c3e6f60301ad46ea08a10454dd97a2b3a8221be436d6069c88a67a.__SX420__SY236.25__QL60__._TTH_.jpg" alt="" style="height: 180px; width: 300px;"></a></td>
        <td> <a href="https://www.amazon.in/minitv/tp/6070001e-7477-43c8-af13-0ec75b58defd"><img src="https://m.media-amazon.com/images/S/pv-target-images/b6386d3ba259f84f7f99cc799d2400bfbd816b21009d99263479be049facf9fb.__SX420__SY236.25__QL60__._TTH_.jpg" alt="" style="height: 180px; width: 300px;"></a></td>
        <td> <a href="https://www.amazon.in/minitv/tp/fa06a7aa-d52c-4bf1-b6ee-da9a59401f55"><img src="https://m.media-amazon.com/images/S/pv-target-images/da4ed61c5b60e0499032d1e7e070a664ae129d392e69509136755f930330b4b3.__SX420__SY236.25__QL60__._TTH_.jpg" alt="" style="height: 180px; width: 300px;"></a></td>
        <td> <a href="https://www.amazon.in/minitv/tp/fa06a7aa-d52c-4bf1-b6ee-da9a59401f55"><img src="https://m.media-amazon.com/images/S/pv-target-images/ea2986409d09df3c7d09c9334979437d79f0ca4e0f5afc42d87fa1edbcbcaf8c.__SX420__SY236.25__QL60__._TTH_.jpg" alt="" style="height: 180px; width: 300px;"></a></td>
        <td> <a href="https://www.amazon.in/minitv/tp/a80166fd-df98-4637-821a-0edfffc0486e"><img src="https://m.media-amazon.com/images/S/pv-target-images/ea2986409d09df3c7d09c9334979437d79f0ca4e0f5afc42d87fa1edbcbcaf8c.__SX420__SY236.25__QL60__._TTH_.jpg" alt="" style="height: 180px; width: 300px;"></a></td>
     </tr>
    </table>
        </div>
  <div id="mini_tv">
    <h5 style="text-align:left;">New Series | JAB WE MATCHED</h5>
     <table>
     <tr>
        <td> <a href="https://www.amazon.in/minitv/tp/36bbefcc-7aa9-06c7-2704-535e8f8f0a9a"><img src="https://m.media-amazon.com/images/S/pv-target-images/04bd1c8214bdaf172e1b44782e42915eaebf306178f2559ffa4191319b02ebc1.__SX420__SY236.25__QL60__._TTH_.jpg" alt="" style="height: 180px; width: 300px;"></a></td>
        <td> <a href="https://www.amazon.in/minitv/tp/d73f2b97-0c3a-415a-a286-5b7c2d790e7a"><img src="https://m.media-amazon.com/images/S/pv-target-images/cfd21e6676754cc258dc293c14df1457f0f225435787482ed9b1e9a996275e4b.__SX420__SY236.25__QL60__._TTH_.jpg" alt="" style="height: 180px; width: 300px;"></a></td>
        <td> <a href="https://www.amazon.in/minitv/tp/92109831-e7e1-48a1-b6b8-1f17fb06f22a"><img src="https://m.media-amazon.com/images/S/pv-target-images/79b44436338d1f1dc077029ec4f5b8099d45fe63c846152e14b3edbcc47df9e1.__SX420__SY236.25__QL60__._TTH_.jpg" alt="" style="height: 180px; width: 300px;"></a></td>
        <td> <a href="https://www.amazon.in/minitv/tp/c6bbdff2-880e-c425-3185-e5acf96212f2"><img src="https://m.media-amazon.com/images/S/pv-target-images/e2dca4fc4b9241cd31e49afd71797d996e8a2fd5b02748dc957bf633c9c2a9ca.__SX420__SY236.25__QL60__._TTH_.jpg" alt="" style="height: 180px; width: 300px;"></a></td>
        <td> <a href="https://www.amazon.in/minitv/tp/80abcb2d-9067-4b35-b4a3-af93a6636172"><img src="https://m.media-amazon.com/images/S/pv-target-images/4f603f4bafd0150f63b0a1504cb8700bad21f0e2240d5c629811d36cd4e13bdb.__SX420__SY236.25__QL60__._TTH_.jpg" alt="" style="height: 180px; width: 300px;"></a></td>
     </tr>
    </table>
        </div>

  <div id="mini_tv">
    <h5 style="text-align:left;">Most Loved Mini Movies</h5>
     <table>
     <tr>
        <td> <a href="https://www.amazon.in/minitv/tp/a9ce25d2-22d4-40ed-9ff4-b8eee02651d0"><img src="https://m.media-amazon.com/images/S/pv-target-images/21aa0bc375d48ea41f55d4f0824224ed5258baaca76d8a0ef614d03338aa5aff.__SX420__SY236.25__QL60__._TTH_.jpg" alt="" style="height: 180px; width: 300px;"></a></td>
        <td> <a href="https://www.amazon.in/minitv/tp/456bb1e1-3ffc-4b1f-be24-8437e3a2c886"><img src="https://m.media-amazon.com/images/S/pv-target-images/c31a15d8d0b78f9dd85414254efdb8e6a635cc0a096b0ef2252899640c7dea98.__SX420__SY236.25__QL60__._TTH_.jpg" alt="" style="height: 180px; width: 300px;"></a></td>
        <td> <a href="https://www.amazon.in/minitv/tp/2a02e487-c089-4ff2-98be-d828122eab52"><img src="https://m.media-amazon.com/images/S/pv-target-images/7c580f375c80de22b3ac3a01289011244a98c9df39e11a8cb98ddf8ea990fdcc.__SX420__SY236.25__QL60__._TTH_.jpg" alt="" style="height: 180px; width: 300px;"></a></td>
        <td> <a href="https://www.amazon.in/minitv/tp/d4ca34f1-1434-4438-8492-453f71ef7c07"><img src="https://m.media-amazon.com/images/S/pv-target-images/1de1f70889d8b47dac283982205153c3fe43f178e8d2d621442cc49a66933e88.__SX420__SY236.25__QL60__._TTH_.jpg" alt="" style="height: 180px; width: 300px;"></a></td>
        <td> <a href="https://www.amazon.in/minitv/tp/23f6e918-14c2-4a69-984c-676514bd1574"><img src="https://m.media-amazon.com/images/S/pv-target-images/94a6da416209b85f98bd7017acbdbf4e2d6f6a1bd1a2cc024199f490dc742d31.__SX420__SY236.25__QL60__._TTH_.jpg" alt="" style="height: 180px; width: 300px;"></a></td>
     </tr>
    </table>
        </div>
  <div id="mini_tv">
    <h5 style="text-align:left;">Romantic Mini Movies</h5>
     <table>
     <tr>
        <td> <a href="https://www.amazon.in/minitv/tp/8a4ea80c-a9c0-40c9-98f5-4fd4147afd98"><img src="https://m.media-amazon.com/images/S/pv-target-images/fb208d376cac12ca7e956451baae037a4af6ce65ec6fb1ee56f1c568631da6c6.__SX420__SY236.25__QL60__._TTH_.jpg" alt="" style="height: 180px; width: 300px;"></a></td>
        <td> <a href="https://www.amazon.in/minitv/tp/91477e94-5bb9-42de-9325-1df1bd96d7d2"><img src="https://m.media-amazon.com/images/S/pv-target-images/cbc33afa995e97760c6705ba2be997b5757035b0c63d9ef1f2c565074110ce25.__SX420__SY236.25__QL60__._TTH_.jpg" alt="" style="height: 180px; width: 300px;"></a></td>
        <td> <a href="https://www.amazon.in/minitv/tp/91477e94-5bb9-42de-9325-1df1bd96d7d2"><img src="https://m.media-amazon.com/images/S/pv-target-images/c0106d6e9dee7dde448c820bbf482d59cb261db4f156fe6077f8d57482e172c4.__SX420__SY236.25__QL60__._TTH_.jpg" alt="" style="height: 180px; width: 300px;"></a></td>
        <td> <a href="https://www.amazon.in/minitv/tp/ed614406-8550-4f54-a1d1-8edb10c8b06a"><img src="https://m.media-amazon.com/images/S/pv-target-images/94b2bf16607ad52d719540eba725f64011281328d9b771c90ccf72e312f0a6f6.__SX420__SY236.25__QL60__._TTH_.jpg" alt="" style="height: 180px; width: 300px;"></a></td>
        <td> <a href="https://www.amazon.in/minitv/tp/12f7941f-b3c7-4562-9854-c117a82552d5"><img src="https://m.media-amazon.com/images/S/pv-target-images/76218f142425e781490d9752d65d463a79272e5082a1307f3ab7d7ea1985b66d.__SX420__SY236.25__QL60__._TTH_.jpg" alt="" style="height: 180px; width: 300px;"></a></td>
     </tr>
    </table>
        </div>


  <footer class="bg-dark text-center text-white">
    <!-- Grid container -->
    <div class="container p-4 pb-0">
      <!-- Section: Social media -->
      <section class="mb-4">
        <!-- Facebook -->
        <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
          ><i class="fab fa-facebook-f"></i
        ></a>
  
        <!-- Twitter -->
        <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
          ><i class="fab fa-twitter"></i
        ></a>
  
        <!-- Google -->
        <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
          ><i class="fab fa-google"></i
        ></a>
  
        <!-- Instagram -->
        <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
          ><i class="fab fa-instagram"></i
        ></a>
  
        <!-- Linkedin -->
        <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
          ><i class="fab fa-linkedin-in"></i
        ></a>
  
        <!-- Github -->
        <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
          ><i class="fab fa-github"></i
        ></a>
      </section>
      <!-- Section: Social media -->
    </div>
    <!-- Grid container -->
  
    <!-- Copyright -->
    <div class="tiru">
      <h5 style="text-align: left;">𝐅𝐫𝐢𝐞𝐧𝐝𝐥𝐲 𝐌𝐢𝐧𝐢𝐓𝐕 𝐃𝐨𝐮𝐛𝐥𝐞 𝐃𝐡𝐚𝐦𝐚𝐤𝐚</h5>
    </div>
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
      © 2023 Copyright:
      <a class="text-white" href="https://mdbootstrap.com/">🐧 ⋆ 🐎  🎀  𝒩𝒶𝓋𝑒𝑒𝓃 & 𝒯𝒽𝒾𝓇𝓊𝓂𝒶𝓁𝑒𝓈𝒽  🎀  🐎 ⋆ 🐧</a>
    </div>
    <!-- Copyright -->
  </footer>

  <style>
    #mini_tv{
      background-color: black;
      color: white;
      text-shadow: 0 0 15px red;   
  }
  td{
      
      padding: 5px;
      border-radius:45px;
  }
  img:hover
  {
    transform: scale(1.1);
  }
  </style>
  {% endblock %}