{% extends 'Friendly_Tv.html' %}
{% load static %}

{% block title %}
 <title>Web Series</title>
{% endblock %}

{% block body_block %}
<div id="carouselExampleInterval" class="carousel slide" data-mdb-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active" data-mdb-interval="10000">
        <img src="{% static 'images/dev8.png' %}" class="d-block w-100" alt="Wild Landscape" height="300px"/>
      </div>
      <div class="carousel-item" data-mdb-interval="2000">
        <img src="{% static 'images/dev9.png' %}" class="d-block w-100" alt="Camera"  height=300px"/>
      </div>
      <div class="carousel-item">
        <img src="{% static 'images/dev10.png' %}" class="d-block w-100" alt="Exotic Fruits"  height="300px"/>
      </div>
      <div class="carousel-item">
        <img src="{% static 'images/dev11.png' %}" class="d-block w-100" alt="Exotic Fruits"  height="300px"/>
      </div>
      <div class="carousel-item">
        <img src="{% static 'images/dev12.png' %}" class="d-block w-100" alt="Exotic Fruits"  height="300px"/>
      </div>
      <div class="carousel-item">
        <img src="{% static 'images/dev13.png' %}" class="d-block w-100" alt="Exotic Fruits"  height="300px"/>
      </div>
    </div>
    <button class="carousel-control-prev" data-mdb-target="#carouselExampleInterval" type="button" data-mdb-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" data-mdb-target="#carouselExampleInterval" type="button" data-mdb-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>



<div id="mini_tv">
    <h5 style="text-align:left;">Trending in Mini Movies</h5>
     <table>
     <tr>
        <td> <a href="https://www.amazon.in/minitv/tp/e41afa30-0a63-4432-a047-2ab2fd016024"><img src="https://m.media-amazon.com/images/S/pv-target-images/469e4c0a1f21514d3979b21aa22bc6f794e4726ba6b13bf5044de7b5c328db9b.__SX420__SY236.25__QL60__._TTH_.jpg" alt="" style="height: 180px; width: 300px;"></a></td>
        <td> <a href="https://www.amazon.in/minitv/tp/dec3c835-ea44-48d7-a63a-7e1912c94e15"><img src="https://m.media-amazon.com/images/S/pv-target-images/974366fb5decd4611c57942e9cd45f005085aa279b7ff5a6989115db4e07ec7b.__SX420__SY236.25__QL60__._TTH_.jpg" alt="" style="height: 180px; width: 300px;"></a></td>
        <td> <a href="https://www.amazon.in/minitv/tp/7de8c022-c089-4260-9001-dcc2b25087fe"><img src="https://m.media-amazon.com/images/S/pv-target-images/b22fa9f625b28fdc23ab268ee2f86aba7955b84c683e3d39e3697c3c500f0ccb.__SX420__SY236.25__QL60__._TTH_.jpg" alt="" style="height: 180px; width: 300px;"></a></td>
        <td> <a href="https://www.amazon.in/minitv/tp/2cd75fd8-0278-41ab-bb30-45bceeddfb1e"><img src="https://m.media-amazon.com/images/S/pv-target-images/1f6f6ecd2a6a64262d46f51fb8a3390eed71e50328040ef5df61f82b7f18bb1c.__SX420__SY236.25__QL60__._TTH_.jpg" alt="" style="height: 180px; width: 300px;"></a></td>
        <td> <a href="https://www.amazon.in/minitv/tp/b8235130-a88c-4fd6-a190-d5227a19d33c"><img src="https://m.media-amazon.com/images/S/pv-target-images/c0cfcc3287b568c3e1c6ab081c28c9907904862b5b91d2899a1c05567d8248e7.__SX420__SY236.25__QL60__._TTH_.jpg" alt="" style="height: 180px; width: 300px;"></a></td>
     </tr>
    </table>
        </div>

  <div id="mini_tv">
    <h5 style="text-align:left;">New Series | JAB WE MATCHED</h5>
     <table>
     <tr>
        <td> <a href="https://www.amazon.in/minitv/tp/b2edb321-a2b4-41f2-9105-294f7c61fe3b"><img src="https://m.media-amazon.com/images/S/pv-target-images/0c8d5892c3dfe4e380bb45d06107ff8b7b0cff427a9e62ba1d5d839f7023da59.__SX420__SY236.25__QL60__._TTH_.jpg" alt="" style="height: 180px; width: 300px;"></a></td>
        <td> <a href="https://www.amazon.in/minitv/tp/736b4062-b15c-4e24-833b-56d95dd3c2f2"><img src="https://m.media-amazon.com/images/S/pv-target-images/511463df05cdc9c007491e9960cc81eacf754cb32594988e34f2271489e624aa.__SX420__SY236.25__QL60__._TTH_.jpg" alt="" style="height: 180px; width: 300px;"></a></td>
        <td> <a href="https://www.amazon.in/minitv/tp/f759ebdd-eb82-4ee3-8014-2d2e9a527f5f"><img src="https://m.media-amazon.com/images/S/pv-target-images/a27f1a5bb1b7f47f478561bdf4694ac63fa31650241621ac37a1cf7b7c4e3d6f.__SX420__SY236.25__QL60__._TTH_.jpg" alt="" style="height: 180px; width: 300px;"></a></td>
        <td> <a href="https://www.amazon.in/minitv/tp/0569ac19-eb7b-4186-ad87-bd05b8f6935a"><img src="https://m.media-amazon.com/images/S/pv-target-images/ee9297890a8b156363f0144442d326930eeab4a6e87ca555a1b0b6e6f37fea6b.__SX420__SY236.25__QL60__._TTH_.jpg" alt="" style="height: 180px; width: 300px;"></a></td>
        <td> <a href="https://www.amazon.in/minitv/tp/80abcb2d-9067-4b35-b4a3-af93a6636172"><img src="https://m.media-amazon.com/images/S/pv-target-images/4f603f4bafd0150f63b0a1504cb8700bad21f0e2240d5c629811d36cd4e13bdb.__SX420__SY236.25__QL60__._TTH_.jpg" alt="" style="height: 180px; width: 300px;"></a></td>
     </tr>
    </table>
        </div>

  <div id="mini_tv">
    <h5 style="text-align:left;">Most Loved Mini Movies</h5>
     <table>
     <tr>
        <td> <a href="https://www.amazon.in/minitv/tp/cdd3896a-f084-4274-8b7e-d5d0b3afe7ca"><img src="https://m.media-amazon.com/images/S/pv-target-images/76218f142425e781490d9752d65d463a79272e5082a1307f3ab7d7ea1985b66d.__SX420__SY236.25__QL60__._TTH_.jpg" alt="" style="height: 180px; width: 300px;"></a></td>
        <td> <a href="https://www.amazon.in/minitv/tp/12f7941f-b3c7-4562-9854-c117a82552d5"><img src="https://m.media-amazon.com/images/S/pv-target-images/76218f142425e781490d9752d65d463a79272e5082a1307f3ab7d7ea1985b66d.__SX420__SY236.25__QL60__._TTH_.jpg" alt="" style="height: 180px; width: 300px;"></a></td>
        <td> <a href="https://www.amazon.in/minitv/tp/7fabd9e3-119e-4ab4-afe4-7ddf81953c3d"><img src="https://m.media-amazon.com/images/S/pv-target-images/1bc913bb9f6e7f2cdfb77fed975e95159a52acda2fe976b1b98fb631e3f55a3b.__SX420__SY236.25__QL60__._TTH_.jpg" alt="" style="height: 180px; width: 300px;"></a></td>
        <td> <a href="https://www.amazon.in/minitv/tp/ae5c5a39-cfc3-4cf6-b47e-c05b5ed8dc6e"><img src="https://m.media-amazon.com/images/S/pv-target-images/9931796ac80886a17b27beb020e98839c1c5c0860f1f4abc5d07b2e33f214f0f.__SX420__SY236.25__QL60__._TTH_.jpg" alt="" style="height: 180px; width: 300px;"></a></td>
        <td> <a href="https://www.amazon.in/minitv/tp/2a68e8bd-755d-4545-a4f6-710bd0d15840"><img src="https://m.media-amazon.com/images/S/pv-target-images/9d178417220dfe3e495ca45fd9f0ca472279d14e574d5df355401b291313705d.__SX420__SY236.25__QL60__._TTH_.jpg" alt="" style="height: 180px; width: 300px;"></a></td>
     </tr>
    </table>
        </div>

  <div id="mini_tv">
    <h5 style="text-align:left;">Romantic Mini Movies</h5>
     <table>
     <tr>
        <td> <a href="https://www.amazon.in/minitv/tp/6b49d70b-5a99-46af-84e7-2966a65a4099"><img src="https://m.media-amazon.com/images/S/pv-target-images/cbc33afa995e97760c6705ba2be997b5757035b0c63d9ef1f2c565074110ce25.__SX420__SY236.25__QL60__._TTH_.jpg" alt="" style="height: 180px; width: 300px;"></a></td>
        <td> <a href="https://www.amazon.in/minitv/tp/91477e94-5bb9-42de-9325-1df1bd96d7d2"><img src="https://m.media-amazon.com/images/S/pv-target-images/8b088c43059633a25792e62261f788b1321fb69021daf84e64f36573f5ed0fd1.__SX420__SY236.25__QL60__._TTH_.jpg" alt="" style="height: 180px; width: 300px;"></a></td>
        <td> <a href="https://www.amazon.in/minitv/tp/280d2564-584f-452f-9c98-7baf906e01ab"><img src="https://m.media-amazon.com/images/S/pv-target-images/c0106d6e9dee7dde448c820bbf482d59cb261db4f156fe6077f8d57482e172c4.__SX420__SY236.25__QL60__._TTH_.jpg" alt="" style="height: 180px; width: 300px;"></a></td>
        <td> <a href="https://www.amazon.in/minitv/tp/d4ca34f1-1434-4438-8492-453f71ef7c07"><img src="https://m.media-amazon.com/images/S/pv-target-images/1de1f70889d8b47dac283982205153c3fe43f178e8d2d621442cc49a66933e88.__SX420__SY236.25__QL60__._TTH_.jpg" alt="" style="height: 180px; width: 300px;"></a></td>
        <td> <a href="https://www.amazon.in/minitv/tp/11021ffa-2fd5-4bbf-87ca-037b333ba0ea"><img src="https://m.media-amazon.com/images/S/pv-target-images/9e6832b5ba6d3a87a1fd4bc0eea3d84e4264902ae6422fa7310e459d371bd0c7.__SX420__SY236.25__QL60__._TTH_.jpg" alt="" style="height: 180px; width: 300px;"></a></td>
     </tr>
    </table>
        </div>


  <div id="mini_tv">
    <h5 style="text-align:left;">Old is Gold | Web Series we all Loved</h5>
     <table>
     <tr>
        <td> <a href="https://www.amazon.in/minitv/tp/debbf698-583d-e7f3-20ea-bc487c8c7bea"><img src="https://m.media-amazon.com/images/S/pv-target-images/b3cc5796dfccecf9ba4c1fc2b4fdcb5aea03a8fec3a250b0425af02a14af3f8f.__SX420__SY236.25__QL60__._TTH_.jpg" alt="" style="height: 180px; width: 300px;"></a></td>
        <td> <a href="https://www.amazon.in/minitv/tp/e4bbebf4-e610-f5ef-b84c-cb63a81ac1c6"><img src="https://m.media-amazon.com/images/S/pv-target-images/d9202f5bf1381ab37bbc789ca9005e251bb209a4ca3c96ca6e2f00150ce828ea.__SX420__SY236.25__QL60__._TTH_.jpg" alt="" style="height: 180px; width: 300px;"></a></td>
        <td> <a href="https://www.amazon.in/minitv/tp/bf43ddd0-38d6-4a38-9b33-77647f322aae"><img src="https://m.media-amazon.com/images/S/pv-target-images/29c55b5c8c27e1fe458e750e9ccac7ed2163d8f117892c5f62a321f617ff0dad.__SX420__SY236.25__QL60__._TTH_.jpg" alt="" style="height: 180px; width: 300px;"></a></td>
        <td> <a href="https://www.amazon.in/minitv/tp/f2357dd3-1727-4c3d-b8e9-b2d179a050f1"><img src="https://m.media-amazon.com/images/S/pv-target-images/39176d70dd0f8a7bb309abff9761f93e63585a7de2968beab59355240fc9f651.__SX420__SY236.25__QL60__._TTH_.jpg" alt="" style="height: 180px; width: 300px;"></a></td>
        <td> <a href="https://www.amazon.in/minitv/tp/a0844605-9505-4454-9f99-924a7be9aea1"><img src="https://m.media-amazon.com/images/S/pv-target-images/36abf38d92845f413d87881ba6da7bb644cf4e699594468f31ec203a0a2ac203.__SX420__SY236.25__QL60__._TTH_.jpg" alt="" style="height: 180px; width: 300px;"></a></td>
     </tr>
    </table>
        </div>

  <div id="mini_tv">
    <h5 style="text-align:left;">Hidden Gems</h5>
     <table>
     <tr>
        <td> <a href="https://www.amazon.in/minitv/tp/b1fcc799-a75a-4450-8ea4-5100059d4c1c"><img src="https://m.media-amazon.com/images/S/pv-target-images/83888f88996fa86af76e0f94be77c3e2d194511cd035640cd82d03d339039fbf.__SX420__SY236.25__QL60__._TTH_.jpg" alt="" style="height: 180px; width: 300px;"></a></td>
        <td> <a href="https://www.amazon.in/minitv/tp/2c7581f2-5bcc-4db5-beec-855bfa57d0b8"><img src="https://m.media-amazon.com/images/S/pv-target-images/1b9eadf0ec46c9e913a9e8fec3b6f290eab49d2e11b8ddd47ffa3a60e4aca4d4.__SX420__SY236.25__QL60__._TTH_.jpg" alt="" style="height: 180px; width: 300px;"></a></td>
        <td> <a href="https://www.amazon.in/minitv/tp/20331016-d9b9-4968-b991-c89fa4927a36"><img src="https://m.media-amazon.com/images/S/pv-target-images/c21d8865557e94879c2b7e912a4efddd3a1fff2aabb8df7b00222d045bc57a5f.__SX420__SY236.25__QL60__._TTH_.jpg" alt="" style="height: 180px; width: 300px;"></a></td>
        <td> <a href="https://www.amazon.in/minitv/tp/0f596073-6738-4a4d-b256-ff816df62c32"><img src="https://m.media-amazon.com/images/S/pv-target-images/11fc751a37615cc507e749d967eb3f824db595fb1ef1301b340694dfdaab64e5.__SX420__SY236.25__QL60__._TTH_.jpg" alt="" style="height: 180px; width: 300px;"></a></td>
        <td> <a href="https://www.amazon.in/minitv/tp/e317c7cf-42be-4629-b4d7-4aadd2a7e956"><img src="https://m.media-amazon.com/images/S/pv-target-images/2eb44a2c4d3ddb1288136836fdfb05c662e595c9b79aa76c4d920a8ae8bf346a.__SX420__SY236.25__QL60__._TTH_.jpg" alt="" style="height: 180px; width: 300px;"></a></td>
     </tr>
    </table>
        </div>

  <div id="mini_tv">
    <h5 style="text-align:left;">The Girls are back with a bang | Udan Patolas S2</h5>
     <table>
     <tr>
        <td> <a href="https://www.amazon.in/minitv/tp/4957eef2-7558-4294-ad78-58adcaeced25"><img src="https://m.media-amazon.com/images/S/pv-target-images/f58b236667627b4662a4e72d8be24038c4106dd13d1fd537c0fcefcbada38be1.__SX420__SY236.25__QL60__._TTH_.jpg" alt="" style="height: 180px; width: 300px;"></a></td>
        <td> <a href="https://www.amazon.in/minitv/tp/a406e214-68a0-4ca1-9dd6-739a04492f8d"><img src="https://m.media-amazon.com/images/S/pv-target-images/788cd5749266f9ab58680ec877352ca88abf007264e89912d1ce6edf75c27f9c.__SX420__SY236.25__QL60__._TTH_.jpg" alt="" style="height: 180px; width: 300px;"></a></td>
        <td> <a href="https://www.amazon.in/minitv/tp/f5646c47-9299-4871-9fa8-74af9c82eb85"><img src="https://m.media-amazon.com/images/S/pv-target-images/f7f609096de458f9e740fe85aca65911741a29445dd575907189d40a6332ad0b.__SX420__SY236.25__QL60__._TTH_.jpg" alt="" style="height: 180px; width: 300px;"></a></td>
        <td> <a href="https://www.amazon.in/minitv/tp/2e48c4de-2026-4ab1-80c2-ffc8bd7d2533"><img src="https://m.media-amazon.com/images/S/pv-target-images/3637664d0194a19f2be4b92bddee3ca0cff695f66a5dd8129d514d062be342b0.__SX420__SY236.25__QL60__._TTH_.jpg" alt="" style="height: 180px; width: 300px;"></a></td>
        <td> <a href="https://www.amazon.in/minitv/tp/67f92142-4110-4eb1-8e35-9250012756f6"><img src="https://m.media-amazon.com/images/S/pv-target-images/36cbdc539076d87876bb2c46a2fb514c5388d2cc2f024540921d6340d2181abc.__SX420__SY236.25__QL60__._TTH_.jpg" alt="" style="height: 180px; width: 300px;"></a></td>
     </tr>
    </table>
        </div>

  <footer class="bg-dark text-center text-white">
    <!-- Grid container -->
    <div class="container p-4 pb-0">
      <!-- Section: Social media -->
      <section class="mb-4">
        <!-- Facebook -->
        <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
          ><i class="fab fa-facebook-f"></i
        ></a>
  
        <!-- Twitter -->
        <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
          ><i class="fab fa-twitter"></i
        ></a>
  
        <!-- Google -->
        <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
          ><i class="fab fa-google"></i
        ></a>
  
        <!-- Instagram -->
        <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
          ><i class="fab fa-instagram"></i
        ></a>
  
        <!-- Linkedin -->
        <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
          ><i class="fab fa-linkedin-in"></i
        ></a>
  
        <!-- Github -->
        <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
          ><i class="fab fa-github"></i
        ></a>
      </section>
      <!-- Section: Social media -->
    </div>
    <!-- Grid container -->
  
    <!-- Copyright -->
    <div class="tiru">
      <h5 style="text-align: left;">𝐅𝐫𝐢𝐞𝐧𝐝𝐥𝐲 𝐌𝐢𝐧𝐢𝐓𝐕 𝐃𝐨𝐮𝐛𝐥𝐞 𝐃𝐡𝐚𝐦𝐚𝐤𝐚</h5>
    </div>
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
      © 2023 Copyright:
      <a class="text-white" href="https://mdbootstrap.com/">🐧 ⋆ 🐎  🎀  𝒩𝒶𝓋𝑒𝑒𝓃 & 𝒯𝒽𝒾𝓇𝓊𝓂𝒶𝓁𝑒𝓈𝒽  🎀  🐎 ⋆ 🐧</a>
    </div>
    <!-- Copyright -->
  </footer>

  <style>
    #mini_tv{
      background-color: black;
      color: white;
      text-shadow: 0 0 15px red;   
  }
  td{
      
      padding: 5px;
      border-radius:45px;
  }
  img:hover
  {
    transform: scale(1.1);
  }
  </style>
  {% endblock %}